<template>
  <div id="mapAsideComponent">
    <cesium-viewer ref="cesiumViewer"></cesium-viewer>
  </div>
</template>

<script>
  import cesiumViewer from '../CesiumMap/cesiumViewer.vue'
  export default {
    name: "MapAsideComponent",
    props:['ComponentValue'],
    components: {
      'cesiumViewer': cesiumViewer
    },
    data(){
      return{
        //src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
      }
    }
  }
</script>

<style >

  /* .el-image{
     height: 100%;
  } */

</style>
