 <style>
    body{
      margin: 0 auto;
    }
    /* 不占据空间，无法点击 */
      .cesium-viewer-toolbar,             /* 右上角按钮组 */
      .cesium-viewer-animationContainer,  /* 左下角动画控件 */
      .cesium-viewer-timelineContainer,   /* 时间线 */
      .cesium-viewer-bottom               /* logo信息 */
      {
        display: none;
      }
    #layerbar {
      background: rgba(42, 42, 42, 0.5);
      padding: 4px;
      border-radius: 4px;
      float: left;
      position:absolute;
      z-index:9999
    }
    #toolbar {
      background: rgba(42, 42, 42, 0.5);
      padding: 4px;
      position:absolute;
      right: 0;
      z-index:9999;
    }
    #legend {
      background: rgba(119, 118, 118, 0.5);
      position:absolute;
      right: 0;
      bottom: 0;
      z-index:9999;
      width: 225px;
    }
    #chartTol{
      widows: 100%;
    }
    #chartTols{
      background: rgba(119, 118, 118, 0.5);
      position:absolute;
      right: 0;
      z-index:9998;
      width: 450px;
      max-height:80%;
      overflow:auto;
    }
    #chartTols div{
      background: rgba(119, 118, 118, 0.01);
      color: white;
    }
    #legend table{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    }
    #toolbar table tr td{
      color: aliceblue;
    }
    #layerbar input {
      vertical-align: middle;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    #layerbar table tr {
      transform: translateY(0);
      transition: transform 0.4s ease-out;
    }

    #layerbar table tr.up {
      transform: translateY(33px);
      transition: none;
    }

    #layerbar table tr.down {
      transform: translateY(-33px);
      transition: none;
    }
    #shou{
      position: absolute;
      float: right;
      margin: 0 auto;
    }
    #YinCang{
      color: white;
    }
  </style>
<template>
   <!--放置Cesium的容器-->
   <div style="position:relative;">
    <div id="hideChart" style="display:none;">

    </div>
    <div id="cesiumContainer">
      <div id="layerbar" v-show="isLayerbar">
        <table v-show="otherIsShow">
          <tr style="color:white;font-text:12">
            Layer图层
          </tr>
          <!-- <tbody data-bind="foreach: layers">
            <tr data-bind="css: { up: $parent.upLayer === $data, down: $parent.downLayer === $data }">
              <td>
                <input type="checkbox" data-bind="checked: show">
              </td>
              <td>
                <span data-bind="text: name, visible: !$parent.isSelectableLayer($data)" style="color:white"></span>
                <select
                  data-bind="visible: $parent.isSelectableLayer($data), options: $parent.baseLayers, optionsText: 'name', value: $parent.selectedLayer"></select>
              </td>
              <td>
                <input v-show="alphaAndBtnIsShow" type="range" min="0" max="1" step="0.01" style="color: rgba(42, 42, 42, 0.5);" data-bind="value: alpha, valueUpdate: 'input'">
              </td>
              <td v-show="alphaAndBtnIsShow">
                <button type="button"
                  data-bind="click: function() { $parent.raise($data, $index()); }, visible: $parent.canRaise($index())">
                  ▲
                </button>
              </td>
              <td v-show="alphaAndBtnIsShow">
                <button type="button"
                  data-bind="click: function() { $parent.lower($data, $index()); }, visible: $parent.canLower($index())">
                  ▼
                </button>
              </td>
            </tr>
          </tbody> -->
          <tbody v-for="(item, i) in viewModel.layers" data-bind="foreach: layers">
            <tr>
              <td v-if="item.show">
                <input type="checkbox" @change="selectLayerCheck($event)" :value="item._layerIndex" checked>
              </td>
              <td v-else>
                <input type="checkbox" @change="selectLayerCheck($event)" :value="item._layerIndex">
              </td>
              <td>
                <span v-show="!viewModel.isSelectableLayer(item)" style="color:white">{{item.name}}</span>
                <select v-show="viewModel.isSelectableLayer(item)" v-model="viewModel.selectedLayer"  name="baseLayers" id="baseLayers" @change="OptionLayer()">
                  <option  v-for="(items,index) in viewModel.baseLayers" :value="items.name">{{items.name}}</option>
                </select>
              </td>
              <td  v-show="alphaAndBtnIsShow">
                <input :value="item.alpha" type="range" min="0" max="1" step="0.01" @input="alphaNumber($event,item)">
              </td>
              <td v-show="alphaAndBtnIsShow">
                <button type="button" @click="viewModel.raise(item,i)" v-show="viewModel.canRaise(i)">
                  ▲
                </button>
              </td>
              <td v-show="alphaAndBtnIsShow">
                <button type="button" @click="viewModel.lower(item,i)" v-show="viewModel.canLower(i)">
                  ▼
                </button>
              </td>
            </tr>
          </tbody>
        <tr style="color:white;font-text:12;">
          KML图层
        </tr>
          <tbody  v-for="(item, i) in listObj" :key="i" style="color:white">
            <tr>
                <td v-if="item.check">
                  <input type="checkbox" @change="selectCheck($event)" :value="item.id" checked>
                </td>
                <td v-else>
                  <input type="checkbox" @change="selectCheck($event)" :value="item.id">
                </td>
                <td>
                  {{item.name}}
                </td>
                <td v-show="alphaAndBtnIsShow">
                  <input :value="item.alpha" type="range" min="0" max="1" step="0.01" @input="alphaKmlNumber($event,item.id)">
                </td>
                <td v-show="alphaAndBtnIsShow">
                  <button type="button" @click="ClickUp(item.id)" v-show="showUp(item.id)!=true">
                    ▲
                  </button>
                </td>
                <td v-show="alphaAndBtnIsShow">
                  <button type="button" @click="ClickDown(item.id)" v-show="showDown(item.id)!=true">
                    ▼
                  </button>
                </td>
            </tr>
          </tbody>
        </table>
        <td bgcolor="#000" @click="hideLayer()" style="height:100%;width:12px;text-align:center;cursor:pointer;">
              <span  style="color:#666;cursor:hand;font-family:Webdings;font-size:12px;">3</span>
          </td>
          <td bgcolor="#000" @click="showLayer()" style="height:100%;width:12px;text-align:center;cursor:pointer;">
              <span  style="color:#666;cursor:hand;font-family:Webdings;font-size:12px;">4</span>
          </td>
    </div>
     <div id="toolbar" v-show="isToolbar">
      <table>
          <tr>
            <td>
              <button type="button" class="" v-on:click="BigNumber()">
                ➕
              </button>
            </td>
            <td>
              <button type="button" class="" v-on:click="smallNumber()">
                ➖
              </button>
            </td>
             <td>
               经度:<input type="number" value="" placeholder="0" v-model="latitudeNmb" max="180" min="0">
               纬度:<input type="number" value="" placeholder="0" v-model="longitudeNmb" max="90" min="0">
            </td>
             <td>
              <button type="button" class="" v-on:click="Positioning()">
                🔍
              </button>
            </td>
            <td>
              <button type="button" class="" v-on:click="savePic()">
                ✂
              </button>
            </td>
            <td>
              <button type="button" v-on:click="ranging()" value="">
                {{rangingvalue}}
              </button>
            </td>
            <td style="width:23px">
            </td>
          </tr>
        </table>
    </div>

    <div id="legend" v-show="isLegendbar">
      <table>
          <tr>
            <td colspan="2" style="color:white;font-text:12;text-align: center; width:100%;">
              图例
            </td>
          </tr>
            <tbody  v-for="(item, i) in legendObj" :key="i" style="color:white;width:100%">
              <tr>
                <td style="width:50%;text-align: center;">
                  {{item.name}}:
                </td>
                <td style="width:50%;text-align: center;height: 20px">
                  <img :src="item.Shape"/>
                </td>
              </tr>
            </tbody>
      </table>
    </div>
    <div id="chartTols" v-show="isChartTols">
      <div style="height:40px"></div>
      <div id="chartTol">
        <el-collapse id="collItem" v-for="(item, i) in divID" :key="item" v-model="itemNames">
        <el-collapse-item :title="itemTitle[i]" :name="itemNames[i]" :id="item+'item'">
          <button type="button" v-on:click="dialogOptionVisible = true;ClickItemID=item"  value="">
              更新
          </button>
          <button type="button" v-on:click="chartDeleteOption(item+'item')"  value="">
              删除
          </button>
          <div :id="item" style="width:450px;height:300px"></div>
        </el-collapse-item>
      </el-collapse>
      </div>
    </div>
    </div>
    <el-dialog title="更新" :visible.sync="dialogOptionVisible">
      <el-form :model="optionForm">
        <!-- <el-form-item label="Option内容">
          <el-input v-model="optionForm.Text" auto-complete="off"></el-input>
        </el-form-item> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogOptionVisible = false">取 消</el-button>
        <el-button type="primary" @click="chartUpdateOption()">确 定</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
// 导入Cesium源码中的Viewer组件，注意这里是用的Viewer组件的方式加载，而不是加载整个Cesium

// 导入必须的样式表
//import 'cesium/Source/Widgets/widgets.css'
import '../../../static/Cesium/Widgets/widgets.css'
// import Cesium from '../../static/Cesium/Cesium.js'
// import echarts from '../../static/js/echarts.min.js'
// import jquery from '../../static/js/jquery-2.1.4.min.js'
export default{
  name: 'cesiumContainer',
  mounted: function () {
    var Cesium = this.Cesium
    // 设置静态资源目录
    Cesium.buildModuleUrl.setBaseUrl('../../../static/Cesium/')
    var esri = new Cesium.ArcGisMapServerImageryProvider({
      url: 'https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer',
      enablePickFeatures: false
    }) // 更换为arcgis发布图层

    // eslint-disable-next-line no-undef
    this.viewer = new Cesium.Viewer('cesiumContainer', {
      imageryProvider: esri,
      contextOptions: {
        webgl: {
          alpha: true,
          depth: true,
          stencil: true,
          antialias: true,
          premultipliedAlpha: true,
          // 通过canvas.toDataURL()实现截图需要将该项设置为true
          preserveDrawingBuffer: true,
          failIfMajorPerformanceCaveat: true
        }
      },
      animation: false, // 是否创建动画小器件，左下角仪表
      timeline: false, // 是否显示时间轴
      sceneModePicker: false, // 是否显示3D/2D选择器
      baseLayerPicker: false, // 是否显示图层选择器
      geocoder: false, // 是否显示geocoder小器件，右上角查询按钮
      scene3DOnly: true, // 如果设置为true，则所有几何图形以3D模式绘制以节约GPU资源
      navigationHelpButton: false, // 是否显示右上角的帮助按钮
      homeButton: false, // 是否显示Home按钮
      infoBox: false, // 是否显示信息框
      showRenderLoopErrors: false, // 如果设为true，将在一个HTML面板中显示错误信息
      fullscreenButton: false,
      vrButton: false
    })
    var imageryLayers = this.viewer.imageryLayers
    // this.viewer.entities.add({
    //   name: 'Red box with black outline',
    //   position: Cesium.Cartesian3.fromDegrees(-107.0, 40.0, -300000.0),
    //   box: {
    //     dimensions: new Cesium.Cartesian3(400000.0, 300000.0, 500000.0),
    //     material: Cesium.Color.RED.withAlpha(0.5),
    //     outline: true,
    //     outlineColor: Cesium.Color.BLACK
    //   }
    // })
    var _this = this
    _this.viewModel = {
      layers: [],
      baseLayers: [],
      upLayer: null,
      downLayer: null,
      selectedLayer: null,
      isSelectableLayer: function (layer) {
        return this.baseLayers.indexOf(layer) >= 0
      },
      raise: function (layer, index) {
        imageryLayers.raise(layer)
        _this.viewModel.upLayer = layer
        _this.viewModel.downLayer = _this.viewModel.layers[Math.max(0, index - 1)]
        _this.updateLayerList()
        window.setTimeout(function () {
          _this.viewModel.upLayer = _this.viewModel.downLayer = null
        }, 10)
      },
      lower: function (layer, index) {
        imageryLayers.lower(layer)
        _this.viewModel.upLayer =
          // eslint-disable-next-line standard/computed-property-even-spacing
          _this.viewModel.layers[
            Math.min(_this.viewModel.layers.length - 1, index + 1)
          ]
        _this.viewModel.downLayer = layer
        _this.updateLayerList()
        window.setTimeout(function () {
          _this.viewModel.upLayer = _this.viewModel.downLayer = null
        }, 10)
      },
      canRaise: function (layerIndex) {
        return layerIndex > 0
      },
      canLower: function (layerIndex) {
        return layerIndex >= 0 && layerIndex < imageryLayers.length - 1
      }
    }
    // eslint-disable-next-line no-undef
    Cesium.knockout.track(this.viewModel)
    this.readJsonToLayer('../../../static/Json/vectorDataJson.json')
    this.viewer.camera.setView({destination: Cesium.Cartesian3.fromDegrees(116.39, 39.9, 10000000)})
    // 创建本示例将支持的所有基础层。
    // 这些基础层并不特别。它们可能有多个
    // 立即启用，就像其他层一样，但它没有太大意义，因为
    // 所有这些层覆盖了整个地球，是不透明的。
    this.addBaseLayerOption('Bing Maps Aerial', undefined) // 当前基层

    this.readJsonToLayer('../../../static/Json/LayerJson.json')
    this.readJsonToLayer('../../../static/Json/LayerBaseJson.json')
    this.updateLayerList()
    // 将viewModel绑定到调用它的UI的DOM元素。
    // var layerbar = document.getElementById('layerbar')
    // Cesium.knockout.applyBindings(this.viewModel, layerbar)

    // Cesium.knockout.getObservable(_this.viewModel, 'selectedLayer').subscribe(function (baseLayer) {
    //   var activeLayerIndex = 0
    //   var numLayers = _this.viewModel.layers.length
    //   for (var i = 0; i < numLayers; ++i) {
    //     if (_this.viewModel.isSelectableLayer(_this.viewModel.layers[i])) {
    //       activeLayerIndex = i
    //       break
    //     }
    //   }
    //   var activeLayer = _this.viewModel.layers[activeLayerIndex]
    //   var show = activeLayer.show
    //   var alpha = activeLayer.alpha
    //   imageryLayers.remove(activeLayer, false)
    //   imageryLayers.add(baseLayer, numLayers - activeLayerIndex - 1)
    //   baseLayer.show = show
    //   baseLayer.alpha = alpha
    //   _this.updateLayerList()
    // })
    this.handler = new Cesium.ScreenSpaceEventHandler(this.viewer.canvas)
    this.readLegend('legendKml')
    // var _this = this
    _this.handler.setInputAction(function (event) {
      var pick = _this.viewer.scene.pick(event.position)
      if (typeof (pick) !== 'undefined') {
        _this.$emit('Entitys', pick.id.name)
      }
    }, Cesium.ScreenSpaceEventType.LEFT_CLICK)

    this.viewer.clock.shouldAnimate = true // default

    var option1 = {
      series: [
        {
          name: '课程内容分布',
          type: 'pie',
          startAngle: '0',
          radius: '60%',
          center: ['50%', '50%'],
          data: [
            {
              value: 70,
              name: '语言',
              itemStyle: {
                normal: {
                  opacity: 0.6,
                  color: '#0000FF'
                }
              }
            },
            {
              value: 10,
              name: '美国科学&社会科学',
              itemStyle: {
                normal: {
                  opacity: 0.2,
                  color: '#FF00FF'
                }
              }
            },
            {
              value: 20,
              name: '美国数学',
              smooth: true,
              itemStyle: {
                normal: {
                  opacity: 1,
                  color: '#DC143C'
                }
              }
            }
          ],
          label: { // 展示文本设置
            normal: {
              show: false
            }
          }
        }
      ]
    }
    var xData = ['滨海', '乡村', '历史文化', '主题乐园', '自然景观', '红色旅游', '工业旅游', '亲子游', '休闲度假', '其他']
    var seriesData = [ {
      value: 56
    }, {
      value: 156
    }, {
      value: 256
    }, {
      value: 86
    }, {
      value: 96
    }, {
      value: 36
    }, {
      value: 126
    }, {
      value: 176
    }, {
      value: 261
    }, {
      value: 121
    } ]
    var myOptionBar = {
      xAxis: [ {
        type: 'category',
        data: xData,
        // x轴字体样式
        axisLabel: {
          show: true,
          fontSize: 7,
          color: 'white',
          // x轴坐标全部显示
          interval: 0
        }
      } ],
      yAxis: [ {
        type: 'value',
        // Y轴字体样式
        axisLabel: {
          show: true,
          fontSize: 7,
          color: 'white',
          // x轴坐标全部显示
          interval: 0
        }
      } ],
      series: [ {
        type: 'bar',
        data: seriesData
      } ]
    }
    _this.addChartDiv('chartPic', '我是饼图')
    var myCharts = _this.echarts.init(this.addHideChar('chartPic'))
    this.chartAddOption(myCharts, option1)
    _this.addChartDiv('chartBar', '我是柱图')
    myCharts = _this.echarts.init(this.addHideChar('chartBar'))
    this.chartAddOption(myCharts, myOptionBar)
    this.drawChartPrimitive(myOptionBar, { lon: 116.19777, lat: 49.03883 })
    this.drawChartPrimitive(option1, { lon: 116.19777, lat: 39.03883 })
  },
  watch: {
    optionsArr: function () {
      this.$nextTick(function () {
        for (var i = 0; i < this.divID.length; i++) {
          var myCharts = this.echarts.init(document.getElementById(this.divID[i]))
          myCharts.setOption(this.optionsArr[i])
        }
      })
    }
  },
  methods: {
    hideLayer () {
      if (this.alphaAndBtnIsShow) {
        this.alphaAndBtnIsShow = false
      } else {
        this.otherIsShow = false
      }
    },
    showLayer () {
      if (this.otherIsShow) {
        this.alphaAndBtnIsShow = true
      } else {
        this.otherIsShow = true
      }
    },
    addBaseLayerOption (name, imageryProvider) {
      // 添加底图
      var layer
      if (typeof imageryProvider === 'undefined') {
        layer = this.viewer.imageryLayers.get(0)
        this.viewModel.selectedLayer = name
      } else {
        layer = new this.Cesium.ImageryLayer(imageryProvider)
      }

      layer.name = name
      this.viewModel.baseLayers.push(layer)
    },
    addOption (imageryProvider) {
      // 下拉选择底图
      this.viewer.imageryLayers.remove(this.viewer.imageryLayers.get(0))
      this.viewer.imageryLayers.add(imageryProvider)
      for (var i = 0; i < this.viewer.imageryLayers.length - 1; i++) {
        this.viewer.imageryLayers.raise(imageryProvider)
      }
    },
    addAdditionalLayerOption (name, imageryProvider, alpha, show) {
      // 添加layer图层
      var layer = this.viewer.imageryLayers.addImageryProvider(imageryProvider)
      layer.alpha = this.Cesium.defaultValue(alpha, 0.5)
      layer.show = this.Cesium.defaultValue(show, true)
      layer.name = name
      this.Cesium.knockout.track(layer, ['alpha', 'show', 'name'])
    },
    updateLayerList () {
      // 更新Layer集合
      var numLayers = this.viewer.imageryLayers.length
      this.viewModel.layers.splice(0, this.viewModel.layers.length)
      for (var i = numLayers - 1; i >= 0; --i) {
        this.viewModel.layers.push(this.viewer.imageryLayers.get(i))
      }
      return true
    },
    chartDeleteOption (id) {
      // 在右侧面板中删除Echart
      var elem = document.getElementById(id)
      elem.parentNode.removeChild(elem)
    },
    chartUpdateOption () {
      // 在右侧面板中修改Echart
      this.dialogOptionVisible = false
      this.optionForm.Text = {
        series: [
          {
            name: '课程内容分布',
            type: 'pie',
            startAngle: '0',
            radius: '60%',
            center: ['50%', '50%'],
            data: [
              {
                value: 30,
                name: '语言',
                itemStyle: {
                  normal: {
                    opacity: 0.6,
                    color: '#0000FF'
                  }
                }
              },
              {
                value: 30,
                name: '美国科学&社会科学',
                itemStyle: {
                  normal: {
                    opacity: 0.2,
                    color: '#FF00FF'
                  }
                }
              },
              {
                value: 40,
                name: '美国数学',
                smooth: true,
                itemStyle: {
                  normal: {
                    opacity: 1,
                    color: '#DC143C'
                  }
                }
              }
            ],
            label: { // 展示文本设置
              normal: {
                show: false
              }
            }
          }
        ]
      }
      var myCharts = this.echarts.init(document.getElementById(this.ClickItemID))
      myCharts.setOption(this.optionForm.Text)
      this.optionForm.Text = []
    },
    chartAddOption (myChart, Option) {
      // 在右侧面板中添加Echart
      this.optionForm.Text = Option
      myChart.setOption(Option)
      this.optionsArr.push(Option)
    },
    addHideChar (id) {
      this.ClickItemID = id
      // 新建div存放Echart转为图片前的地址
      var div = document.getElementById('hideChart')
      var CopyDiv = document.createElement('div')
      CopyDiv.id = id + 'Copy'
      CopyDiv.width = 450
      CopyDiv.height = 300
      div.appendChild(CopyDiv)
      return document.getElementById(id + 'Copy')
    },
    addChartDiv (id, name) {
      // 将divid，el-collapse的name与Title存放在数组
      this.itemName = this.itemName + 1
      this.itemNames.push(this.itemName)
      this.itemTitle.push(name)
      this.divID.push(id)
      return true
    },
    RangingRun (name) {
      // 绘制运行图
      const _this = this
      var Cesium = _this.Cesium
      // eslint-disable-next-line eqeqeq
      if (name !== '清空') {
        _this.handler.setInputAction(function (event) {
          var earthPosition = _this.viewer.camera.pickEllipsoid(event.position, _this.viewer.scene.globe.ellipsoid)
          if (Cesium.defined(earthPosition)) {
            _this.createPoint(earthPosition, name) // 在点击位置添加一个点
          }
        }, Cesium.ScreenSpaceEventType.LEFT_CLICK)
      } else {
        _this.rangingvalue = '测距'
        _this.viewer.entities.removeAll()
        _this.Distances = []
        _this.activeShapePoints = []
        _this.handler.setInputAction(function (event) {}, Cesium.ScreenSpaceEventType.LEFT_CLICK)
      }
    },
    ranging () {
      // 测距
      const _this = this
      var Cesium = _this.Cesium
      // eslint-disable-next-line eqeqeq
      if (_this.rangingvalue == '测距') {
        _this.rangingvalue = '清空'
        _this.handler.setInputAction(function (event) {
          var earthPosition = _this.viewer.camera.pickEllipsoid(event.position, _this.viewer.scene.globe.ellipsoid)
          if (Cesium.defined(earthPosition)) {
            _this.createPoint(earthPosition) // 在点击位置添加一个点
          }
        }, Cesium.ScreenSpaceEventType.LEFT_CLICK)
      } else {
        _this.rangingvalue = '测距'
        _this.viewer.entities.removeAll()
        _this.Distances = []
        _this.activeShapePoints = []
        _this.handler.setInputAction(function (event) {}, Cesium.ScreenSpaceEventType.LEFT_CLICK)
      }
    },
    drawShape (positionData) {
      // 根据选择的点连成线
      var shape
      shape = this.viewer.entities.add({
        polyline: {
          positions: positionData,
          clampToGround: true,
          width: 3
        }
      })
      return shape
    },
    disTancePoint (satrtPoint, endPoint) {
      // 根据两个点的位置获得两个点的距离
      var satrt = this.Cesium.Cartographic.fromCartesian(satrtPoint)
      var end = this.Cesium.Cartographic.fromCartesian(endPoint)
      var geodesic = new this.Cesium.EllipsoidGeodesic()
      geodesic.setEndPoints(satrt, end)
      var distance = Math.round(geodesic.surfaceDistance)
      return distance
    },
    createPoint (worldPosition, name) {
      // 在途中创建点，超过两个点给出距离
      var Cesium = this.Cesium
      this.activeShapePoints.push(worldPosition)
      var point = this.viewer.entities.add({
        position: worldPosition,
        point: {
          color: Cesium.Color.WHITE,
          pixelSize: 5,
          heightReference: Cesium.HeightReference.CLAMP_TO_GROUND
        }
      })
      var count = 0
      if (this.activeShapePoints.length > 1) {
        // count = Cesium.Cartesian3.distance(this.activeShapePoints[this.activeShapePoints.length - 2], this.activeShapePoints[this.activeShapePoints.length - 1])
        count = this.disTancePoint(this.activeShapePoints[this.activeShapePoints.length - 2], this.activeShapePoints[this.activeShapePoints.length - 1])
        this.Distances.push(count)
      }
      this.totalDistance = 0
      if (this.activeShapePoints.length > 1) {
        for (var i = 0; i < this.activeShapePoints.length - 1; i++) {
          this.totalDistance = this.totalDistance + this.disTancePoint(this.activeShapePoints[i], this.activeShapePoints[i + 1])
        }
      }
      var isShow = true
      if (name === '绘制运行图') {
        isShow = false
      }
      point.label = {
        text: count.toFixed(2) + '米',
        font: '20px sans-serif',
        fillColor: Cesium.Color.YELLOW,
        horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
        verticalOrigin: Cesium.VerticalOrigin.BOTTOM,
        pixelOffsetScaleByDistance: new Cesium.NearFarScalar(1.5e2, 3.0, 1.5e7, 0.5),
        show: isShow
      }
      this.viewer.scene.postProcessStages.fxaa.enabled = false // 去锯齿 是文字清晰
      this.drawShape(this.activeShapePoints)
      // this.viewer.zoomTo(point)
      return point
    },
    BigNumber () {
      // 放大
      this.positioningID('TB')
      var Cesium = this.Cesium
      if (this.zoomNumber < 1000000) {
        this.viewer.camera.setView({
          destination: Cesium.Cartesian3.fromRadians(this.viewer.camera.positionCartographic.longitude, this.viewer.camera.positionCartographic.latitude, 1000000)
        })
      } else {
        this.zoomNumber = this.zoomNumber - (this.zoomNumber / 10)
        this.viewer.camera.setView({
          destination: Cesium.Cartesian3.fromRadians(this.viewer.camera.positionCartographic.longitude, this.viewer.camera.positionCartographic.latitude, this.zoomNumber - (this.zoomNumber / 10))
        })
      }
    },
    smallNumber () {
      // 缩小
      var Cesium = this.Cesium
      if (this.zoomNumber > 60000000) {
        this.viewer.camera.setView({
          destination: Cesium.Cartesian3.fromRadians(this.viewer.camera.positionCartographic.longitude, this.viewer.camera.positionCartographic.latitude, 60000000)
        })
      } else {
        this.zoomNumber = this.zoomNumber + (this.zoomNumber / 10)
        this.viewer.camera.setView({
          destination: Cesium.Cartesian3.fromRadians(this.viewer.camera.positionCartographic.longitude, this.viewer.camera.positionCartographic.latitude, this.zoomNumber + (this.zoomNumber / 10))
        })
      }
    },
    Positioning () {
      // 搜索
      this.viewer.camera.setView({destination: this.Cesium.Cartesian3.fromDegrees(this.latitudeNmb, this.longitudeNmb, this.zoomNumber)})
    },
    savePic () {
      // 截图
      var canvas = this.viewer.scene.canvas
      var image = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream')
      var link = document.createElement('a')
      image.substr(22, image.length)
      var blob = this.dataURLtoBlob(image)
      var objurl = URL.createObjectURL(blob)
      link.download = 'pic.png'
      link.href = objurl
      link.click()
    },
    dataURLtoBlob (dataurl) {
      // 获取图片二进制
      // eslint-disable-next-line one-var
      var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n)
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n)
      }
      return new Blob([u8arr], {type: mime})
    },
    addKml (DataStyle) {
      // 添加kml图层文件
      var _this = this
      var options = {
        camera: _this.viewer.scene.camera,
        canvas: _this.viewer.scene.canvas,
        clampToGround: true // 开启贴地
      }
      _this.viewer.camera.flyHome(0)
      _this.Cesium.KmlDataSource.load(DataStyle.url, options).then(function (dataSource) {
        dataSource.name = DataStyle.layerName
        _this.viewer.dataSources.add(dataSource)
        dataSource.show = DataStyle.show
        _this.id = _this.id + 1
        _this.listObj.push({'id': _this.id, 'name': DataStyle.layerName, 'check': DataStyle.show, 'alpha': DataStyle.style.alpha})
        var geocacheEntities = dataSource.entities.values
        for (var i = 0; i < geocacheEntities.length; i++) {
          var entity = geocacheEntities[i]
          if (_this.Cesium.defined(entity.polyline)) {
            entity.polyline.width = DataStyle.style.LineWidth
            entity.polyline.show = DataStyle.show
            entity.polyline.material = new _this.Cesium.Color(DataStyle.style.LineColor[0], DataStyle.style.LineColor[1], DataStyle.style.LineColor[2], DataStyle.style.LineColor[3])
          }
          if (_this.Cesium.defined(entity.point)) {
            entity.point.color = new _this.Cesium.Color(DataStyle.style.pointColor[0], DataStyle.style.pointColor[1], DataStyle.style.pointColor[2], DataStyle.style.pointColor[3])
            entity.point.show = DataStyle.show
          }
          if (_this.Cesium.defined(entity.polygon)) {
            entity.polygon.show = DataStyle.show
            entity.polygon.outline = true
            entity.polygon.outlineColor = new _this.Cesium.Color(DataStyle.style.LineColor[0], DataStyle.style.LineColor[1], DataStyle.style.LineColor[2], DataStyle.style.LineColor[3])
            entity.polygon.outlineWidth = DataStyle.style.LineWidth
            entity.polygon.material = new _this.Cesium.Color(DataStyle.style.FillColor[0], DataStyle.style.FillColor[1], DataStyle.style.FillColor[2], DataStyle.style.FillColor[3])
          }
          if (_this.Cesium.defined(entity.name)) {
            entity.label = new _this.Cesium.LabelGraphics({
              text: entity.name,
              font: '20px sans-serif',
              fillColor: _this.Cesium.Color.YELLOW,
              horizontalOrigin: _this.Cesium.HorizontalOrigin.CENTER,
              verticalOrigin: _this.Cesium.VerticalOrigin.BOTTOM,
              show: true
            })
          }
          // if (_this.Cesium.defined(entity.billboard)) {
          //   entity.billboard.show = true
          //   entity.billboard.width = 150
          //   entity.billboard.height = 150
          //   entity.billboard.image = '../../static/image/dian.jpg'
          //   entity.billboard.verticalOrigin = _this.Cesium.VerticalOrigin.CENTER
          //   entity.label = {
          //     text: entity.name
          //   }
          //   entity.billboard.distanceDisplayCondition = new _this.Cesium.DistanceDisplayCondition(1000000.0, 60000000.0)
          // }
        }
      })
    },
    removeKml (KmlName) {
      // 删除KML图层
      this.viewer.dataSource.remove(this.viewer.dataSource.getByName(KmlName))
    },
    positioningID (name) {
      // 定位
      for (var i = 0; i < this.viewer.dataSources.length; i++) {
        var geocacheEntities = this.viewer.dataSources.get(i).entities.values
        for (var f = 0; f < geocacheEntities.length; f++) {
          var entity = geocacheEntities[f]
          if (this.Cesium.defined(entity.name)) {
            if (entity.id === name) {
              if (this.Cesium.defined(entity.position)) {
                var cartographicPosition = this.Cesium.Cartographic.fromCartesian(entity.position.getValue(this.Cesium.JulianDate.now()))
                var latitude = this.Cesium.Math.toDegrees(cartographicPosition.latitude)
                var longitude = this.Cesium.Math.toDegrees(cartographicPosition.longitude)
                alert(latitude + '  ' + longitude)
                var description = '<table class="cesium-infoBox-defaultTable cesium-infoBox-defaultTable-lighter"><tbody>' +
                '<tr><th>' + 'Longitude' + '</th><td>' + longitude.toFixed(5) + '</td></tr>' +
                '<tr><th>' + 'Latitude' + '</th><td>' + latitude.toFixed(5) + '</td></tr>' +
                '</tbody></table>'
                entity.description = description
                this.viewer.camera.setView({destination: this.Cesium.Cartesian3.fromDegrees(latitude, longitude, this.zoomNumber)})
              }
            }
          }
        }
      }
    },
    OptionLayer (layer) {
      // 下拉选择底图
      for (var i = 0; i < this.viewModel.baseLayers.length; i++) {
        if (this.viewModel.baseLayers[i].name === this.viewModel.selectedLayer) {
          this.addOption(this.viewModel.baseLayers[i])
        }
      }
    },
    alphaNumber (e, layer) {
      // 修改透明度
      this.viewer.imageryLayers.get(layer._layerIndex).alpha = e.target.value
    },
    alphaKmlNumber (e, id) {
      // 修改透明度
      var dataSource = this.viewer.dataSources.get(id - 1)
      var geocacheEntities = dataSource.entities.values
      for (var i = 0; i < geocacheEntities.length; i++) {
        var entity = geocacheEntities[i]
        if (this.Cesium.defined(entity.polyline) && this.Cesium.defined(entity.polyline.material)) {
          entity.polyline.material = entity.polyline.material.color._value.withAlpha(e.target.value)
        }

        if (this.Cesium.defined(entity.polygon) && this.Cesium.defined(entity.polygon.material)) {
          entity.polygon.material = entity.polygon.material.color._value.withAlpha(e.target.value)
        }
      }
      this.listObj[id - 1].alpha = e.target.value
    },
    selectLayerCheck (e) {
      // 隐藏显示layer图层
      if (e.target.checked) {
        this.viewer.imageryLayers.get(e.target.value).show = true
      } else {
        this.viewer.imageryLayers.get(e.target.value).show = false
      }
    },
    selectCheck (e) {
      // 隐藏显示kml图层
      if (e.target.checked) {
        this.viewer.dataSources.get(e.target.value - 1).show = true
        this.listObj[e.target.value - 1].check = true
      } else {
        this.viewer.dataSources.get(e.target.value - 1).show = false
        this.listObj[e.target.value - 1].check = false
      }
    },
    showUp (e) {
      // 向上按钮的显示隐藏
      if (e === 1) {
        return true
      } else {
        return false
      }
    },
    showDown (e) {
      // 向下按钮的显示隐藏
      if (e === this.viewer.dataSources.length) {
        return true
      } else {
        return false
      }
    },
    ClickUp (e) {
      // KML图层向上移动
      this.viewer.dataSources.lower(this.viewer.dataSources.get(e - 1))
      var m = this.listObj[e - 2]
      this.listObj[e - 2] = this.listObj[e - 1]
      this.listObj[e - 1] = m
      m = this.listObj
      this.listObj = []
      for (var i = 0; i < m.length; i++) {
        this.listObj.push({'id': i + 1, 'name': m[i].name, 'check': m[i].check, 'alpha': m[i].alpha})
      }
    },
    ClickDown (e) {
      // KML图层向下移动
      this.viewer.dataSources.raise(this.viewer.dataSources.get(e - 1))
      var m = this.listObj[e]
      this.listObj[e] = this.listObj[e - 1]
      this.listObj[e - 1] = m
      m = this.listObj
      this.listObj = []
      for (var i = 0; i < m.length; i++) {
        this.listObj.push({'id': i + 1, 'name': m[i].name, 'check': m[i].check, 'alpha': m[i].alpha})
      }
    },
    createXMLDom () {
      // 读取xml获取图例
      var xmldoc
      if (window.ActiveXObject) {
        // eslint-disable-next-line no-undef
        xmldoc = new ActiveXObject('Microsoft.XMLDOM')
      } else if (document.implementation && document.implementation.createDocument) {
        xmldoc = document.implementation.createDocument('', 'doc', null)
      }
      xmldoc.async = false
      // 为了和FireFox一至，这里不能改为False;
      xmldoc.preserveWhiteSpace = true
      return xmldoc
    },
    readLegend (title) {
      // 读取xml获取图例
      var xmlDom = this.createXMLDom()
      var xmlData
      try {
        xmlData = xmlDom.load('../../../static/xml/legend.xml')
      } catch (e) {
        xmlDom = new XMLHttpRequest()
        xmlDom.overrideMimeType('text/xml')
        xmlDom.open('GET', '../../../static/xml/legend.xml', false)
        xmlDom.send(null)
        xmlData = xmlDom.responseXML
      }
      var root = xmlData.documentElement
      root = root.getElementsByTagName(title)
      for (var i = 0; i < root.length; i++) {
        var roots = root[i]
        this.legendObj.push({'id': i + 1, 'name': roots.getElementsByTagName('legendName')[0].firstChild.nodeValue, 'Shape': roots.getElementsByTagName('legendShape')[0].firstChild.nodeValue})
      }
    },
    computationTime (speed) {
      // 调用运动的点方法
      this.speed = speed
      var date = new Date()
      // 计算时间
      date = new Date(date - 1 + 1 + (this.totalDistance / this.speed) * 1000)
      // date.setDate(date.getDate() + 1)
      var m = date.getMonth() + 1
      if (m.toString().length === 1) {
        m = '0' + m
      }
      var d = date.getDate()
      if (d.toString().length === 1) {
        d = '0' + d
      }
      var f = date.getHours()
      if (f.toString().length === 1) {
        f = '0' + f
      }
      var mi = date.getMinutes()
      if (mi.toString().length === 1) {
        mi = '0' + mi
      }
      this.stopDate = (date.getFullYear().toString() + m.toString() + d.toString() + 'T' + f.toString() + mi.toString() + 'Z')
      var tool = 0
      for (var i = 0; i < this.activeShapePoints.length; i++) {
        var activeShapePoint = this.activeShapePoints[i]
        if (i === 0) {
          this.cartesianPoint.push(0, activeShapePoint.x, activeShapePoint.y, activeShapePoint.z)
        } else {
          var Distance = this.Distances[i - 1]
          tool = tool + Distance / this.totalDistance * (this.totalDistance / this.speed)
          this.cartesianPoint.push(tool, activeShapePoint.x, activeShapePoint.y, activeShapePoint.z)
        }
      }
      this.runAircraft()
    },
    runAircraft () {
      // 运动的点
      var date = new Date()
      var y = date.getFullYear()
      var m = date.getMonth() + 1
      if (m.toString().length === 1) {
        m = '0' + m
      }
      var d = date.getDate()
      if (d.toString().length === 1) {
        d = '0' + d
      }
      var h = date.getHours()
      var mi = date.getMinutes()
      if (h.toString().length === 1) {
        h = '0' + h
      }
      if (mi.toString().length === 1) {
        mi = '0' + mi
      }
      var newDate = y.toString() + m.toString() + d.toString() + 'T' + h.toString() + mi.toString() + 'Z'
      var czml = [
        {
          'id': 'document',
          'name': 'SampleFlight' + this.id,
          'version': '1.0',
          'clock': {
            'interval': newDate + '/' + this.stopDate,
            'currentTime': newDate,
            'multiplier': this.speed,
            'range': 'LOOP_STOP',
            'step': 'SYSTEM_CLOCK_MULTIPLIER'
          }
        },
        {
          'id': 'Aircraft/Aircraft1',
          'name': 'Aircraft' + this.id,
          'availability': newDate + '/' + this.stopDate,
          'billboard': {
            'color': {'rgba': [0, 255, 255, 255]},
            'eyeOffset': {'cartesian': [0, 0, 0]},
            'horizontalOrigin': 'CENTER',
            'image': 'data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAjSURBVChTYyAa/EcDUGEIgIphAKg0XRSAAFQMDqDChAADAwDC13+BJ+0oDwAAAABJRU5ErkJgggAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==',
            'pixelOffset': {'cartesian2': [0, 0]},
            'scale': 2,
            'show': true,
            'verticalOrigin': 'CENTER'
          },
          'path': {
            'show': [
              {
                'interval': newDate + '/' + this.stopDate,
                'boolean': true
              }
            ],
            'width': 2,
            'material': {
              'solidColor': {
                'color': {
                  'rgba': [0, 255, 255, 255]
                }
              }
            },
            'resolution': 1200
          },
          'position': {
            'interpolationAlgorithm': 'LAGRANGE',
            'interpolationDegree': 1,
            'epoch': newDate,
            'cartesian': this.cartesianPoint
          }
        }
      ]

      this.viewer.dataSources.add(this.Cesium.CzmlDataSource.load(czml))
      var _this = this
      _this.id = _this.id + 1
      _this.listObj.push({'id': _this.id, 'name': 'SampleFlight' + this.id, 'check': true})
      var drone = this.viewer.dataSources.get(this.viewer.dataSources.length - 1).entities.values[0]
      drone.model = {
        uri: 'https://gist.githubusercontent.com/rahwang/9843cb77fc1c6d07c287566ed4e08ee3/raw/dc3a9ff6fc73b784519ac9371c0e2cbd3ab3dc47/CesiumDrone.gltf'
      }
    },
    drawChartPrimitive (dataOption, { radius = 100000.0, lon, lat } = {}) {
      // 将 data 首先保存为图表
      let canvasDom = document.createElement('canvas')
      canvasDom.width = 150
      canvasDom.height = 150
      let myChart = this.echarts.init(canvasDom)
      myChart.setOption(dataOption)
      myChart.on('finished', () => {
        this.getCriclePrimitive(myChart, { radius, lon, lat })
        myChart.dispose()
        myChart = null
        canvasDom = null
      })
    },
    getCriclePrimitive (chart, { radius = 100000.0, lon, lat } = {}) {
      // 将图标保存为图片并以primitives显示
      var Cesium = this.Cesium
      // let circle = new Cesium.CircleGeometry({
      //   center: Cesium.Cartesian3.fromDegrees(lon, lat),
      //   radius: radius
      // })
      // let circleGeometry = Cesium.CircleGeometry.createGeometry(circle)
      // let circleGeometryInstance = new Cesium.GeometryInstance({
      //   geometry: circleGeometry,
      //   attributes: {
      //     color: Cesium.ColorGeometryInstanceAttribute.fromColor(Cesium.Color.ORANGE)
      //   }
      // })
      // let criclePrimitive = new Cesium.Primitive({
      //   geometryInstances: [
      //     circleGeometryInstance
      //   ],
      //   appearance: new Cesium.MaterialAppearance({
      //     material: new Cesium.Material({
      //       fabric: {
      //         type: 'Image',
      //         uniforms: {
      //           image: chart.getDataURL()
      //         }
      //       }
      //     })
      //   })
      // })
      // this.viewer.scene.primitives.add(criclePrimitive)
      // 大小自动
      var billboards = this.viewer.scene.primitives.add(new Cesium.BillboardCollection())
      billboards.add({
        position: Cesium.Cartesian3.fromDegrees(lon, lat, radius),
        image: chart.getDataURL()
      })
    },
    removePrimitive (id) {
      // 根据id删除Primitive图层（添加的Echart图层）
      this.Cesium.PrimitiveCollection.remove(this.viewer.scene.primitives.get(id))
    },
    setIsLayerbar (isBool) {
      // 图层面板
      this.isLayerbar = isBool
    },
    setIsToolbar (isBool) {
      // 工具栏面板
      this.isToolbar = isBool
    },
    setIsLegendbar (isBool) {
      // 图例面版
      this.isLegendbar = isBool
    },
    setIsChartTols (isBool) {
      // Echart面板
      this.isChartTols = isBool
    },
    compareLayer (data) {
      if (data.layerType === 'WMS') {
        var wms = new this.Cesium.WebMapServiceImageryProvider({
          url: data.url,
          layers: data.layers,
          parameters: {
            service: data.service,
            format: data.format,
            transparent: data.transparent
          }
        })
        this.addBaseLayerOption(data.layerName, wms)
      } else if (data.layerType === 'WMTS') {
        this.addBaseLayerOption(
          data.layerName,
          new this.Cesium.WebMapTileServiceImageryProvider({
            url:
              data.url,
            layer: data.layers,
            style: data.style,
            format: data.format,
            tileMatrixSetID: data.tileMatrixSetID,
            maximumLevel: data.maximumLevel,
            credit: data.credit
          })
        )
      } else if (data.layerType === 'undefined') {
        this.addBaseLayerOption(data.layerName, undefined)
      } else if (data.layerType === 'SingleTileImageryProvider') {
        var stimg = new this.Cesium.SingleTileImageryProvider({
          url: data.url
        })
        this.addBaseLayerOption(data.layerName, stimg)
      } else if (data.layerType === 'createWorldImagery') {
        this.addBaseLayerOption(
          data.layerName,
          this.Cesium.createWorldImagery({
            style: data.style
          })
        )
      } else if (data.layerType === 'ArcGisMapServerImageryProvider') {
        this.addBaseLayerOption(
          data.layerName,
          new this.Cesium.ArcGisMapServerImageryProvider({
            url:
              'https://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer'
          })
        )
      } else if (data.layerType === 'createOpenStreetMapImageryProvider') {
        var provider = null
        if (data.url.length > 0) {
          // eslint-disable-next-line new-cap
          provider = new this.Cesium.createOpenStreetMapImageryProvider({
            url: data.url,
            fileExtension: data.fileExtension,
            credit: data.credit
          })
        } else {
          // eslint-disable-next-line new-cap
          provider = new this.Cesium.createOpenStreetMapImageryProvider()
        }
        this.addBaseLayerOption(data.layerName, provider)
      }
    },
    otherLayer (data) {
      if (data.layerType === 'WMS') {
        var wms = new this.Cesium.WebMapServiceImageryProvider({
          url: data.url,
          layers: data.layers,
          credit: data.credit,
          parameters: {
            service: data.service,
            format: data.format,
            transparent: data.transparent
          }
        })
        this.addAdditionalLayerOption(data.layerName, wms, data.alpha, data.show)
      } else if (data.layerType === 'GridImageryProvider') {
        this.addAdditionalLayerOption(
          data.layerName,
          new this.Cesium.GridImageryProvider(),
          data.alpha,
          data.show
        )
      } else if (data.layerType === 'TileCoordinatesImageryProvider') {
        this.addAdditionalLayerOption(data.layerName,
          new this.Cesium.TileCoordinatesImageryProvider(),
          data.alpha,
          data.show
        )
      }
    },
    readJsonToLayer (url) {
      // '../../static/Json/LayerBaseJson.json'
      var _this = this
      $.ajax({
        url: url,
        type: 'get',
        async: false,
        cache: false,
        success: function (response) {
          var data = response
          if (data.success) {
            var dataArr = data.data
            for (var i = 0; i < dataArr.length; i++) {
              if (data.JsonName === 'LayerBaseJson') {
                _this.compareLayer(dataArr[i])
              } else if (data.JsonName === 'LayerJson') {
                _this.otherLayer(dataArr[i])
              } else if (data.JsonName === 'KML') {
                _this.addKml(dataArr[i])
              }
            }
          } else {

          }
        },
        error: function () {
          alert('异常！')
        }
      })
    }
  },
  data () {
    return {
      // eslint-disable-next-line no-undef
      'echarts': echarts,
      'viewer': {},
      'zoomNumber': 10000000,
      'latitudeNmb': 116.39,
      'longitudeNmb': 39.9,
      'activeShapePoints': [],
      'handler': null,
      'rangingvalue': '测距',
      // eslint-disable-next-line no-undef
      'Cesium': Cesium,
      'listObj': [],
      'id': 0,
      'legendObj': [],
      'cartesianPoint': [],
      'speed': 2000,
      'stopDate': '20200101',
      'Distances': [],
      'totalDistance': 0,
      'itemName': 0,
      'itemNames': [],
      'itemTitle': [],
      'divID': [],
      'optionsArr': [],
      'dialogOptionVisible': false,
      'ClickItemID': '',
      'optionForm': {
        'Text': ''
      },
      'isLayerbar': true,
      'isToolbar': true,
      'isLegendbar': true,
      'isChartTols': true,
      'viewModel': [],
      'alphaAndBtnIsShow': false,
      'otherIsShow': true
    }
  }
}

</script>

<style>

</style>
