<template>
  <div class="wellDrillCom" style="height:100%">
    <div class="WellDrilltitle">
      <h1>钻井平台</h1>
    </div>
    <!--header  单选框-->
    <div class="RadioDiv">
      <el-radio-group v-model="HeaderRadio">
        <el-radio :label="1">全部</el-radio>
        <el-radio :label="2">半浅式</el-radio>
        <el-radio :label="3">自升式</el-radio>
      </el-radio-group>
    </div>
    <!--header end -->
    <!--Aside  数据块-->
    <div class="AsideDiv">
      <el-checkbox-group v-model="checkboxGroup1" @change="SelectDrillType">
        <el-checkbox-button
          v-for="(item,index) in ShowDrillData"
          :key="index"
          :label="item"
          :disabled="!CanEditData"
          class="DrillingDataDiv"
        >
          <div>
            <img :src="item.code" class="DrillingDataImg" />
            <p>{{item.name}}</p>
          </div>
        </el-checkbox-button>
      </el-checkbox-group>
    </div>
    <!--Aside end-->
    <!--Foot 详情-->
    <div style="height:100px">
      <div v-for="(val,key,index) in ShowSelectitemData" :key="index">{{key}} :{{val}}</div>
    </div>
    <el-button type="primary" @click="OK" style="float:right; ">确认</el-button>
    <!--Foot end-->
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "WellDrillTable",
  props: ["CanEditData", "wellId"],
  mounted() {
  },
  created(){
    
  },
  computed: {
    SetShowRightDialogData() {
      return this.$store.state.ShowRightDialogData;
    },
  },
  watch: {
    HeaderRadio(newV, oldV) {
     //this.ShowSelectitemData = this.checkboxGroup1[this.checkboxGroup1.length-1];
      // var data = [];
      // if (newV != 1) {
      //   newV = newV == 2 ? "半浅式" : "自升式";
      //   this.DrillingData.forEach(function (item, index) {
      //     if (newV == item.classType) {
      //       data.push(item);
      //     }
      //   });
      //   this.ShowDrillData = data;
      // } else {
      //   this.ShowDrillData = this.DrillingData;
      // }
      this.ShowDrillData = this.DrillingData;
},
    SetShowRightDialogData(newV, oldV) {
      var that = this;
    },
  },
  data() {
    return {
      HeaderRadio: 1,
      DrillingData: [],
      ShowDrillData: [],
      activeclass: 1,
      ShowSelectitemData: [],
      checkboxGroup1: [],
    };
  },
  methods: {
    //获取所有钻井船信息
    getAllWellBoatData(val) {
      var  that = this;
      axios.get("/api/DrillingDetailInfoController/getPriceList/"+val.budgetItemCode).then(
        (response) => {
          console.log(response)
          if(response.data.success){
              that.DrillingData = response.data.list;
              that.ShowDrillData = that.DrillingData;
              that.checkboxGroup1 = [];
              that.ShowSelectitemData = [];
       if(val.theSelectedPriceList!=null){
         var vid = val.theSelectedPriceList.split(',');
        vid.forEach(function(item,index){
         that.ShowDrillData.forEach(function (Sitem, Sindex) {
        if (item == Sitem.id) {
          that.checkboxGroup1.push(Sitem);
          that.ShowSelectitemData = Sitem;
        }
      });
     })
     }
          }else{
             console.log("获取失败")
          }
        
        },
        (response) => {
          console.log("error");
        }
      );
    },
    //获取选中的数据信息
    SelectDrillType(item) {
  
      this.ShowSelectitemData = item[item.length-1];
    },
    OK() {
      var that = this;
      var vid = "";
        that.checkboxGroup1.forEach(function(item,index){
                console.log( item.id)
              vid =vid+ item.id +",";
        })
      vid =  vid.substring(0, vid.lastIndexOf(','));
      that.$store.state.ShowRightDialogData.theSelectedPriceList = vid;
    },
    msg_dialog(msg) {
      this.$alert(msg, "提示", {
        dangerouslyUseHTMLString: true,
      });
    },
  },
};
</script>

<style>
.wellDrillCom {
  height: 80%;
  width: 95%;
  margin: 10px;
  background: white;
}
.WellDrilltitle {
  height: 40px;
  background: rgb(39, 142, 240);
}

.WellDrilltitle h1 {
  color: white;
}

.RadioDiv {
  margin: 5px;
}

.AsideDiv {
  position: relative;
  height: 60%;
  margin-left: 5px;
  overflow-y: scroll;
}

.DrillingDataDiv {
  height: 80px;
  width: 95%;
  margin: 5px 5px 10px 5px;
  vertical-align: middle;
  text-align: center;
}

.el-checkbox-button__inner {
  width: 100%;
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
  background-color: gainsboro;
  border-color: gainsboro;
}

.DrillingDataDiv p {
  margin: 10px;
  padding: 0px;
  float: left;
}

.DrillingDataImg {
  height: 60px;
  width: 60px;
  float: left;
  margin: 10px;
}

/*.activeclass  {
  background-position: center -12px;
}*/

.activeclass {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: gainsboro;
}
</style>