<template>
  <div class="footor" style="position:relative;">
    <!-- <div class="FooterDiv">
      <span>待办事项</span>
    </div>-->
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class="FooterDiv" ref="tabs">
      <el-tab-pane label="总表" name="1">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a
                id="MenuUlA"
                href="#"
                @contextmenu.prevent="rightClick(item)"
              >
                <div>
                  <i class="el-icon-s-ticket"></i>
                  <span style="color:black">{{item.fileName}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="探井计划表" name="2">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a
                id="MenuUlA"
                href="#"
                @contextmenu.prevent="rightClick(item)"
              >
                <div>
                  <i class="el-icon-s-management"></i>
                  <span style="color:black">{{item.fileName}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="预算表" name="3">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a
                id="MenuUlA"
                href="#"
                @contextmenu.prevent="rightClick(item)"
              >
                <div>
                  <i class="el-icon-s-order"></i>
                  <span style="color:black">{{item.fileName}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="调整预算表" name="4">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a
                id="MenuUlA"
                href="#"
                @contextmenu.prevent="rightClick(item)"
              >
                <div>
                  <i class="el-icon-s-finance"></i>
                  <span style="color:black">{{item.fileName}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="附件表" name="5">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in TableMenuArr" :key="index" style="height:100%;">
              <a
                id="MenuUlA"
                href="#"
                @contextmenu.prevent="rightClick(item)"
              >
                <div>
                  <i class="el-icon-s-comment"></i>
                  <span style="color:black">{{item.fileName}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
    </el-tabs>

    <div class="RightDiv">
      <ul class="RightMenu">
        <li @click="RightMenuClick('预览')">
          <a >预览</a>
        </li>
        <li @click="RightMenuClick('下载')">
          <a >下载</a>
        </li>
      </ul>
    </div>

    <el-button
      size="mini"
      style="position:absolute;right:10px;top:5px;"
      @click="changeState"
      :icon="state?'el-icon-caret-bottom':'el-icon-caret-top'"
    ></el-button>
  </div>
</template>

<script>
  import axios from "axios";

  $(document).on("click", function () {
    $(".RightDiv").css("display", "none");
  });

  $(document).bind('contextmenu',function(e){return false;});


  export default {
    name: "FootorCom",
    data() {
      return {
        activeName: "1",
        state: true,
        TableMenuArr: [],
        TableArray: [],
        ItemData: [],
      };
    },
    mounted() {},
    watch: {
      FootComShowState(newV, oldV) {},
    },
    computed: {
      FootComShowState() {
        return this.$store.state.FootComShowState;
      },
    },
    methods: {
      getFooterTable() {
        var that = this;
        var wellName = that.$store.state.SelectWellName;
        var state = that.$store.state.budgetType;


        axios
          .get("/api/DrillingFileDataController/fileData/" + wellName+"/"+state)
          .then((resp) => {
            console.log(resp)
            if (resp.data.success) {
              console.log(resp.data)
              that.TableArray = resp.data.data.drillingFileData;
              that.TableArray.forEach(function (item, index) {
                if ("1" == item.typeId) {
                  that.TableMenuArr.push(item);
                }
              });
            }
          })
          .catch((err) => {
            console.log("请求失败：" + err);
          });
      },
      rightClick(val) {
        $(".RightDiv").css({
          position: "absolute",
          bottom: 10,
          left: event.clientX - 250,
          "z-index": 2,
          display: "block",
        });
        console.log(val)
        this.ItemData = val;
      },
      handleClick(tab, event) {
        var that = this;
        that.TableMenuArr = [];
        that.TableArray.forEach(function (item, index) {
          if (that.activeName == item.typeId) {
            that.TableMenuArr.push(item);
          }
        });
      },
      changeState() {
        this.state = !this.state;
        if (this.state) {
          this.showTabs();
        } else {
          this.hideTabs();
        }
      },
      RightMenuClick(val) {
        var that = this;
        var FileID = that.ItemData.fileId;
        var FileName = that.ItemData.fileName;
        if (val == "预览") {

          let url = "http://10.4.164.71:8080/DrillingFileDataController/fileDownload/"+FileID;
          /*1.jpg为文件完整名字，名字不要包含空格*/
          let s = url + "?fullfilename="+FileName;
          window.open('http://10.4.166.132:8012/onlinePreview?url='+encodeURIComponent(s));
        } else {
          window.open("http://10.4.164.71:8080/DrillingFileDataController/fileDownload/"+FileID);
        }
      },
      showTabs() {
        this.$refs.tabs.$children[1].$el.hidden = false;
        this.$refs.tabs.$parent.$parent.$el.style.height = "200px";
      },
      hideTabs() {
        this.$refs.tabs.$children[1].$el.hidden = true;
        this.$refs.tabs.$parent.$parent.$el.style.height = "50px";
      },
    },
    mounted() {
      this.showTabs();
    },
  };
</script>

<style scoped>
  .footor {
    background-color: white;
  }

  .footerMenuUl,
  .footerMenuUl li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    /* margin: 0px 30px 0px 0px; */
    float: left; /* 往左浮动 */
    display: block;
  }

  .FooterDiv {
    text-align: left;
    line-height: 35px;
    vertical-align: middle;
    width: 100%;
    height: 15%;
  }
  .footerMenuUl div {
    width: auto;
    height: 100px;
    margin: 10px;
  }

  .footerMenuUl i,
  .footerMenuUl span {
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
  }

  .RightDiv {
    width: 90px;
    height: auto;
    border-radius: 5px;
    vertical-align: middle;
    background-color: gainsboro;
    z-index: 3000;
    display: none;
  }
  .RightMenu,
  .RightMenu li {
    width: 100%;
    text-align: center;
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    margin: 0px -35px 0px 0px;
    display: block;
  }

  .RightMenu li {
    margin: 0;
    cursor: pointer;

  }

  .RightMenu li:hover {
    background: grey;
    border-radius: 5px;
  }
</style>
