<template>
  <div class="header">
    <el-row class="elrow">
      <el-col :span="24" class="header">
        <el-col :span="16" :offset="1">
          <div class="grid-content bg-purple">
            <ul id="HeaderTitle">
              <li class="Header-Logo"></li>
              <li>
                <h1 class="h1">探井费用预算管理支持系统&nbsp;<span style="font-size: 25px;">——{{CompanyName}}</span></h1>
              </li>
            </ul>
          </div>
        </el-col>
        <el-col :span="7">
          <div class="login-status">
            <span>
              欢迎您！{{sysUserName}}
              <!-- <img src="../../assets/img/outLogin.png" style="border-radius: 20px;margin:0px 10px 0px 40px;cursor: pointer;" @click.native="logout">退出 -->
              <el-button   circle style="margin:0px 10px 0px 40px;padding:5px" @click.native="logout"><img src="../../assets/img/outLogin.png" ></el-button>退出
            </span>
          </div>
        </el-col>
      </el-col>

      <!--<el-col :span="15">
         <ul id="MenuUl">
          <li v-for="(item,index) in MenuNames" :key="index">
            <a href="#" @click="SetStoreValue(item.name,item.id)">
              <div :class="{activeclass:activeclass==item.id}">
                <i :class="'Menui '+item.iclassname"></i>
                <p>{{item.name}}</p>
              </div>
            </a>
          </li>
        </ul>
      </el-col> -->
    </el-row>
  </div>
</template>

<script>
  export default {
    name: "Header",
    data() {
      return {
        CompanyName:'',
        sysUserName: '',
        islogin: false,
        MenuNames: [
          { id: "1", iclassname: "home", name: "首页" },
          { id: "2", iclassname: "budget-quota", name: "预算与定额" },
          { id: "3", iclassname: "data-manage", name: "数据管理" },
          { id: "4", iclassname: "help", name: "帮助" },
        ],
      };
    },
    methods: {
      // SetStoreValue(val, id) {
      //   this.$store.state.ComponentType = val;
      //   // this.$store.commit('newStoreVale',val);
      // },

      //退出登录
      logout: function () {
        var _this = this;
        this.$confirm('确认退出吗?', '提示', {
          //type: 'warning'
        }).then(() => {
          sessionStorage.removeItem('user');
          _this.$router.push('/');
        }).catch(() => {

        });
      },
    },
    mounted() {
      var user=JSON.parse(sessionStorage.getItem('user'));
      this.sysUserName = user.username;
      this.CompanyName=user.company;
    }

  };
</script>

<style >
  .header {
    height: 100%;
    background-color: #20a0ff;
  }

  .h1 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
  }
  #HeaderTitle {
    font: 12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
    width: 100%;
  }
  .Header-Logo {
    /* height: 100px;
    width: 100px; */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/img/Logo_one.png);
    /* margin-bottom: -10px; */
    height:80px;
    width:80px;
  }

  #HeaderTitle,
  #HeaderTitle li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    margin: 0;
    float: left; /* 往左浮动 */
    display: block;
  }

  a:visited {
    color: black;
  }

  #MenuUl,
  #MenuUl li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    float: left; /* 往左浮动 */
    margin: 5px 10px 0px 10px;
    display: block;
    height: 100%;
  }

  #MenuUl li {
    width: 100px;
  }

  .Menui {
    background-repeat: no-repeat;
    background-position: center -79px;
    width: 68px;
    height: 36px;
    display: inline-block;
  }

  .activeclass .Menui {
    background-position: center -12px;
  }

  .activeclass {
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(
      70deg,
      rgba(0, 0, 255, 0.623),
      rgba(255, 192, 203, 0.548)
    );
  }

  .home {
    background-image: url(../../assets/img/head_icon01.png);
  }

  .budget-quota {
    background-image: url(../../assets/img/head_icon02.png);
  }

  .data-manage {
    background-image: url(../../assets/img/head_icon04.png);
  }

  .help {
    background-image: url(../../assets/img/head_icon06.png);
  }

  #MenuUl p {
    margin: -30px 0 0 0;
    height: 50px;
  }

  .login-status{
    border:1px solid #4073ff;
    border-radius: 4px;
    padding-right: 35px;
    padding-left: 35px;
    height: 70px;
    float: right;
    color:#fff;

  }




</style>
