<template>
  <div class="leftdiv">
    <div
      class="LeftAsideDiv span"
      style="width:100%;height:5%;background-color:#4169e1;margin-top:5px"
    >
      <span>事务管理</span>
    </div>
    <div class="LeftAsideDiv btn">
      <el-row>
        <el-button
          type="success"
          style="width:150px"
          @click="SetComponentType('待办')"
        >待办（{{WorkClassity.WaitWork}}）</el-button>
      </el-row>
      <el-button
        type="warning"
        style="width:150px"
        @click="SetComponentType('已办')"
      >已办（{{WorkClassity.FinshedWork}}）</el-button>
    </div>

    <div
      class="LeftAsideDiv span"
      style="width:100%;height:5%;background-color:#4169e1;margin-top:5px"
    >
      <span>历史成果</span>
    </div>
    <div class="LeftAsideDiv btn">
      <el-input v-model="InputFindData" @input="SetStoreValue(InputFindData,'')" class="SearchInput" placeholder="请输入内容">
      </el-input>
    </div>
    <div class="LeftAsideDiv ul">
      <ul class="LeftAsideUl">
        <li class="m-nav-item" v-for="item in YearList" :key="item" style="cursor:pointer">
          <a @click="SetStoreValue(item,'button')">
            <div style="color:white">{{item}}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LeftCom",
  props: ["TestPicWorkData"],
  data() {
    return {
      WorkClassity: {
        WaitWork: 0,
        FinshedWork: 0,
      },
      YearList: [],
      InputFindData: "",
      index: 0,
      restaurants: [],
      timeout: null,
    };
  },
  created() {
    this.getStateNumber();
  },
  computed: {},
  watch: {},
  mounted() {
    var Year = new Date().getFullYear() - 1;
    for (var y = Year; y >= 2010; y--) {
      this.YearList.push(y);
    }
  },
  methods: {
    getStateNumber() {
      var that = this;
      var user = JSON.parse(sessionStorage.getItem("user"));
      var company = user.company;
      axios
        .post("/api/ResultManageController/initNumber", {
          companyName: company,
        })
        .then((resp) => {
          if (resp.data.success) {
            that.WorkClassity = {
              WaitWork: resp.data.data.backlogNumber,
              FinshedWork: resp.data.data.haveDoneNumber,
            };
          } else {
          }
        })
        .catch((err) => {
          //
          console.log("请求失败：" + err.status + "," + err.statusText);
        });
    },
    SetComponentType(val) {
      var that = this;
      var user = JSON.parse(sessionStorage.getItem("user"));
      var company = user.company;

      that.$store.state.ComponentType = val == "待办" ? val + that.index : val;
      axios
        .post("/api/ResultManageController/resultManage", {
          companyID: company,
          state: val,
          message: "",
          pagNum: 1,
          pageSize: 10,
          key: "",
        })
        .then((resp) => {
        
          //   that.TestPicWorkData = resp.data.data.datas;
          that.$store.state.TestPicWorkData = resp.data.data.datas;
          that.$store.state.TableName = "探井计划表";
        })
        .catch((err) => {
          //
          console.log("请求失败：" + err.status + "," + err.statusText);
        });

      //this.restaurants = this.loadAll();
     that.index++;
    },
    SetStoreValue(val,type) {
      var that = this;
      var user = JSON.parse(sessionStorage.getItem("user"));
      var company = user.company;

      if(type!=""){
          that.InputFindData = "";
      }

      that.$store.state.ComponentType = val;
      if(val==""){
        return;
      }
      axios
        .post("/api/ResultManageController/resultManage", {
          companyID: company,
          state: "",
          message: val,
          pagNum: 1,
          pageSize: 10,
          key: "",
        })
        .then((resp) => {
          //   that.TestPicWorkData = resp.data.data.datas;
          that.$store.state.TestPicWorkData = resp.data.data.datas;
           that.$store.state.TableName = "历史成果表";
        })
        .catch((err) => {
          //
          console.log("请求失败：" + err.status + "," + err.statusText);
        });
     
    },
  },
};
</script>

<style>
.leftdiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #6495ed;
}

.el-header {
  background-color: #20a0ff;
  color: #333;

  /* text-align: center;
    line-height: 60px; */
}

.SearchInput {
  width: 200px;
}

.search {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  
  content: url("../../assets/img/search.png");
}

.el-footer {
  background-color: white;
  color: #333;
  padding: 0;
  /* text-align: center;
    line-height: 60px; */
}

.el-aside {
  color: #333;
  /* text-align: center;
    line-height: 200px; */
  /* height: 1000px; */
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  padding: 0;
  /* text-align: center;
    line-height: 160px; */
}
.h1 {
  color: white;
}

a {
  text-decoration: none;
}

.LeftAsideUl div:link {
  background-color: #003ef7;
  text-decoration: underline;
}
.LeftAsideUl div:visited {
  background-color: #ff0000;
  text-decoration: none;
}
.LeftAsideUl div:hover {
  background-color: #48f042;
  text-decoration: none;
}
.LeftAsideUl div:active {
  background-color: #1f8aee;
  text-decoration: none;
}

.router-link-active {
  text-decoration: none;
}

.LeftAsideDiv {
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
.LeftAsideDiv span,
.FooterDiv span {
  color: white;
  font-weight: bolder;
}

.LeftAsideUl,
.LeftAsideUl li {
  list-style: none; /* 将默认的列表符号去掉 */
  padding: 0; /* 将默认的内边距去掉 */
  margin: 0;
  display: block;
}
.LeftAsideUl div {
  background-color: #003ef7;
  margin: 5px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}

.el-popper,
.el-scrollbar {
  display: none;
}
</style>
