<template>
  <div class="initialBudgetTable">
    <!-- 表格 -->
    <div>
      <el-table
        id="FirstTable"
        class="ftable"
        :data="transData"
        height="137px"
        :show-header="false"
      >
        <el-table-column
          v-for="(item,index) in WellNewsData"
          label
          :key="index"
          align="center"
          width="95"
        >
          <template slot-scope="scope">
            <!-- <el-select v-model="selectValue" placeholder v-if="scope.$index>0&&index>10">
              <el-option
                v-for="(item,index) in scope.row[index]"
                :key="index"
                :label="item"
                :value="index"
              ></el-option>

              @input="transRevolution"
            </el-select>-->
            <span v-if="index%2==0">{{scope.row[index]}}</span>
            <span v-else>
              <el-input
                :disabled="!CanEditData"
                v-model="scope.row[index]"
                @input="transRevolutionRate(scope.row[index-1])"
                placeholder
                v-if="scope.row[index-1]=='周期'||scope.row[index-1]=='汇率'"
              ></el-input>
              <el-input :disabled="!CanEditData" v-model="scope.row[index]" placeholder v-else></el-input>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <el-table
        :data="tableData"
        ref="BudgetTable"
        row-key="budgetItemCode"
        id="BudgetTable"
        :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
        highlight-current-row
        :default-expand-all="true"
        @current-change="RightDialog"
        @cell-click="tabClick"
        :row-class-name="tableRowClassName"
      >
        <el-table-column prop label>
          <el-table-column prop="budgetItemCode" label="编码" width="100"></el-table-column>
          <el-table-column prop="parentBudgetItem" label="等级"></el-table-column>
          <el-table-column prop="budgetItemName" label="项目" width="170"></el-table-column>
          <el-table-column prop="udGetCost" label="预算（不含税）">
            <el-table-column prop="totalEquivalentRmb" label="折合人民币" width="100">
              <template slot-scope="scope">
                <!-- <el-input
                  :disabled="CanEditData"
                  v-model.amount="scope.row.totalEquivalentRmb"
                  placeholder
                  v-if="scope.row.children!=undefined"
                ></el-input>-->
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SumcomConventRmb(scope.row)"
                  v-if="scope.row.children.length>0"
                ></edit-div>
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SpecialRowsConvent(scope,scope.row)"
                  v-else-if="scope.row.parentBudgetItem==undefined"
                ></edit-div>
                <edit-div :canEdit="!CanEditData" :value="totalEquivalentRmb(scope.row)" v-else></edit-div>
              </template>
            </el-table-column>
            <el-table-column prop="totalRmb" label="人民币" width="100">
              <template slot-scope="scope">
                <!--<el-input
                  :disabled="!CanEditData"
                  v-model.amount="scope.row.totalRmb"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>-->
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SumcomRmb(scope.row)"
                  v-if="scope.row.children.length>0"
                ></edit-div>
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SpecialRowsRmb(scope,scope.row)"
                  v-else-if="scope.row.parentBudgetItem==undefined"
                ></edit-div>
                <edit-div :canEdit="!CanEditData" :value="totalRmb(scope.row)" v-else></edit-div>
              </template>
            </el-table-column>
            <el-table-column prop="totalDollar" label="美元" width="100">
              <template slot-scope="scope">
                <!--  <el-input
                  :disabled="!CanEditData"
                  v-model.amount="scope.row.totalDollar"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>-->
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SumcomDollar(scope.row)"
                  v-if="scope.row.children.length>0"
                ></edit-div>
                <edit-div
                  :canEdit="!CanEditData"
                  :value="SpecialRowsDollar(scope,scope.row)"
                  v-else-if="scope.row.parentBudgetItem==undefined"
                ></edit-div>
                <edit-div :canEdit="!CanEditData" :value="totalDollar(scope.row)" v-else></edit-div>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="date" label="模型公式：单价*数量*周期*汇率" align="center" width="300">
          <el-table-column prop="UnitPrice" label="单价">
            <el-table-column prop="unitPriceRmb" label="人民币单价" width="100">
              <template slot-scope="scope">
                <!--    <el-input :disabled="!CanEditData" v-model="scope.row.unitPriceRmb" @input="rmbinput(scope.row.unitPriceRmb)" placeholder></el-input>-->
                <el-input
                  :disabled="!CanEditData"
                  v-model.number="scope.row.unitPriceRmb"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="unitPriceDollar" label="美元单价" width="100">
              <template slot-scope="scope">
                <!--  <el-input :disabled="!CanEditData" v-model="(scope.row.unitPriceRmb/scope.row.rate).toFixed(2)" placeholder></el-input>-->
                <el-input
                  :disabled="!CanEditData"
                  v-model.number="scope.row.unitPriceDollar"
                  @input="inputBlur(scope)"
                  placeholder
                ></el-input>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column prop="amount" label="数量" width="100">
            <template slot-scope="scope">
              <edit-div
                :canEdit="!CanEditData"
                :value="Amount(scope.row)"
                v-if="scope.row.children.length>0"
              ></edit-div>
              <el-input
                :disabled="!CanEditData"
                v-model.number="scope.row.amount"
                v-else
                placeholder
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="period" label="周期" width="100">
            <template slot-scope="scope">
              <el-input
                :disabled="!CanEditData"
                v-model.number="scope.row.period"
                @input="inputBlur(scope)"
                v-if="scope.row.children.length>0"
              ></el-input>
              <el-input :disabled="!CanEditData" v-model.number="scope.row.period" v-else></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="rate" label="汇率" width="100">
            <template slot-scope="scope">
              <el-input
                :disabled="!CanEditData"
                v-model.number="scope.row.rate"
                @input="inputBlur(scope)"
                placeholder
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="unit" label="单位">
            <template slot-scope="scope">
              <el-input :disabled="!CanEditData" v-model="scope.row.unit" placeholder></el-input>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="remark" label="备注"></el-table-column>
      </el-table>
    </div>
    <!-- 表格  end -->
  </div>
</template>
<script>
var EditDiv = {
  template: `<div class="edit-div"
                    v-html="value"
                    :contenteditable="canEdit"
                    v-on:focus="isLocked = true"
                    v-on:blur="isLocked = false"
                    v-on:input="changeText"
    >
    </div>`,
  props: {
    value: {
      type: [String, Number],
      default: "",
    },
    canEdit: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      isLocked: false,
    };
  },
  methods: {
    changeText() {
      this.$emit("input", this.$el.innerHTML);
    },
  },
};

import axios from "axios";
var FileSaver = require("file-saver");
import XLSX from "xlsx";

export default {
  name: "initialBudgetTable",
  props: ["ExcelData", "CanEditData"],
  created() {},
  beforeUpdate() {},
  mounted() {},
  components: {
    EditDiv,
  },
  watch: {
    //监听获取探井工作计划表选中数据的变化 并且赋值给用来遍历的数组WellNewsData
    originData(newV, oldV) {
      var that = this;
      var WellNewsData = that.WellNewsData;
      that.transData = [];
      let arr = new Array();
      let f = [];
      let s = [];
      newV.forEach(function (item, index) {
        WellNewsData.forEach(function (witem, windex) {
          if (item.type == witem.type) {
            witem.value = item.value;
          } else if (item.type == "id") {
            that.SelectTestPicId = item.value;
          }
          if (item.type == "period") {
            that.DefaultRevolution = item.value;
          }
          if (item.type == "wellDepth") {
            that.DefaultWellDepth = item.value;
          }
          if (item.type == "rate") {
            that.DefaultRate = item.value;
          }
        });
      });
      WellNewsData.forEach(function (item, index) {
        if (index % 2 != 0) {
          f.push(item.label);
          f.push(item.value);
        } else {
          s.push(item.label);
          s.push(item.value);
        }
      });
      that.transData.push(s);
      that.transData.push(f);
      //接口实现后改方法可注释
      that.FwellBudgetData();
    },
    UpdateRightData(newV, oldV) {
      var that = this;
      that.tableData.forEach(function (item, index) {
        if (item.budgetItemCode == newV.budgetItemCode) {
          item.theSelectedPriceList = newV.theSelectedPriceList;
        }
      });
    },
  },
  computed: {
    UpdateRightData() {
      return this.$store.state.ShowRightDialogData;
    },
    //获取探井工作计划表中选中的数据
    originData() {
      return this.$store.state.wellParamsData;
    },
    SpecialRowsConvent(data, val) {
      return function (data, val) {
        if (
          this.SpecialRowsCustomizeData &&
          this.SpecialRowsCustomizeName == val.budgetItemName
        ) {
          val.totalEquivalentRmb = parseFloat(
            (val.unitPriceRmb + val.unitPriceDollar * val.rate) *
              val.amount *
              val.period
          ).toFixed(2);
          return val.totalEquivalentRmb;
        }
        var table = data.store.states._data;
        if (val.budgetItemName == "单井成本合计") {
          var sum = 0;
          table.forEach(function (item, index) {
            if (item.parentBudgetItem == null) {
              sum = sum + Number(item.totalEquivalentRmb);
            }
          });
          val.totalEquivalentRmb = parseFloat(sum).toFixed(2);
          return val.totalEquivalentRmb;
        }
        if (val.budgetItemName == "平均每米成本(万元/米)") {
          val.totalEquivalentRmb = parseFloat(
            table[0].totalEquivalentRmb / this.DefaultWellDepth
          ).toFixed(2);
          return val.totalEquivalentRmb;
        }
        if (val.budgetItemName == "平均每日综合成本(万元/日)") {
          val.totalEquivalentRmb = parseFloat(
            table[0].totalEquivalentRmb / this.DefaultRevolution
          ).toFixed(2);
          return val.totalEquivalentRmb;
        }
      };
    },
    SpecialRowsRmb(data, val) {
      return function (data, val) {
        if (
          this.SpecialRowsCustomizeData &&
          this.SpecialRowsCustomizeName == val.budgetItemName
        ) {
          val.totalRmb = parseFloat(
            val.unitPriceRmb * val.amount * val.period
          ).toFixed(2);
          return val.totalRmb;
        }
        var table = data.store.states._data;
        if (val.budgetItemName == "单井成本合计") {
          var sum = 0;
          table.forEach(function (item, index) {
            if (item.parentBudgetItem == null) {
              sum = sum + Number(item.totalRmb);
            }
          });
          val.totalRmb = parseFloat(sum).toFixed(2);
          return val.totalRmb;
        }
        if (val.budgetItemName == "平均每米成本(万元/米)") {
          val.totalRmb = parseFloat(
            table[0].totalRmb / this.DefaultWellDepth
          ).toFixed(2);
          return val.totalRmb;
        }
        if (val.budgetItemName == "平均每日综合成本(万元/日)") {
          val.totalRmb = parseFloat(
            table[0].totalRmb / this.DefaultRevolution
          ).toFixed(2);
          return val.totalRmb;
        }
      };
    },
    SpecialRowsDollar(data, val) {
      return function (data, val) {
        if (
          this.SpecialRowsCustomizeData &&
          this.SpecialRowsCustomizeName == val.budgetItemName
        ) {
          val.totalDollar = parseFloat(
            val.unitPriceDollar * val.amount * val.period
          ).toFixed(2);
          return val.totalDollar;
        }
        var table = data.store.states._data;
        if (val.budgetItemName == "单井成本合计") {
          var sum = 0;
          table.forEach(function (item, index) {
            if (item.parentBudgetItem == null) {
              sum = sum + Number(item.totalDollar);
            }
          });
          val.totalDollar = parseFloat(sum).toFixed(2);
          return val.totalDollar;
        }
        if (val.budgetItemName == "平均每米成本(万元/米)") {
          val.totalDollar = parseFloat(
            table[0].totalDollar / this.DefaultWellDepth
          ).toFixed(2);
          return val.totalDollar;
        }
        if (val.budgetItemName == "平均每日综合成本(万元/日)") {
          val.totalDollar = parseFloat(
            table[0].totalDollar / this.DefaultRevolution
          ).toFixed(2);
          return val.totalDollar;
        }
      };
    },
    SumcomConventRmb(val) {
      return function (val) {
        if (
          (this.CustomizeData && this.SecondCustomizeData) ||
          (val.parentBudgetItem < 99 &&
            !this.SecondCustomizeData &&
            this.CustomizeData)
        ) {
          val.totalEquivalentRmb = parseFloat(
            (val.unitPriceRmb + val.unitPriceDollar * val.rate) *
              val.amount *
              val.period
          ).toFixed(2);
          return val.totalEquivalentRmb;
        }
        var sum = 0;
        val.children.forEach(function (item, index) {
          sum = sum + Number(item.totalEquivalentRmb);
        });
        val.totalEquivalentRmb = parseFloat(sum).toFixed(2);
        return val.totalEquivalentRmb;
      };
    },
    totalEquivalentRmb(val) {
      return function (val) {
        val.totalEquivalentRmb = parseFloat(
          (val.unitPriceRmb + val.unitPriceDollar * val.rate) *
            val.amount *
            val.period
        ).toFixed(2);
        return val.totalEquivalentRmb;
      };
    },
    SumcomDollar(val) {
      return function (val) {
        if (this.CustomizeData) {
          val.totalDollar = parseFloat(
            val.unitPriceDollar * val.amount * val.period
          ).toFixed(2);
          return val.totalDollar;
        }
        var sum = 0;
        val.children.forEach(function (item, index) {
          sum = sum + Number(item.totalDollar);
        });
        val.totalDollar = parseFloat(sum).toFixed(2);
        return val.totalDollar;
      };
    },
    totalDollar(val) {
      return function (val) {
        val.totalDollar = parseFloat(
          val.unitPriceDollar * val.amount * val.period
        ).toFixed(2);
        return val.totalDollar;
      };
    },
    SumcomRmb() {
      return function (val) {
        if (this.CustomizeData) {
          val.totalRmb = parseFloat(
            val.unitPriceRmb * val.amount * val.period
          ).toFixed(2);
          return val.totalRmb;
        }
        var sum = 0;
        val.children.forEach(function (item, index) {
          sum = sum + Number(item.totalRmb);
        });
        val.totalRmb = parseFloat(sum).toFixed(2);
        return val.totalRmb;
      };
    },
    totalRmb(val) {
      return function (val) {
        val.totalRmb = parseFloat(
          val.unitPriceRmb * val.amount * val.period
        ).toFixed(2);
        return val.totalRmb;
      };
    },
    Amount(val) {
      return function (val) {
        var sum = 0;
        val.children.forEach(function (item, index) {
          sum = sum + Number(item.amount);
        });
        val.amount = sum;
        return val.amount;
      };
    },
    period(val) {
      return function (val) {
        val.children.forEach(function (item, index) {
          val.children[index].period = val.period;
        });
        return val.period;
      };
    },
  },
  //'','通过','审批意见','提及','通过','通过',''
  data() {
    return {
      showcolumn: false,
      ratermb: "",
      ValueType: true,
      AppendixDialog: false,
      selectValue: "11",
      SelectTestPicId: "",
      InputDisable: false,
      transData: [],
      tableData: [],
      ConsultWellSelectData: [],
      WellNewsData: [
        { label: "井名", type: "wellName", value: "" },
        { label: "汇率", type: "rate", value: "" },
        { label: "井深(米)", type: "wellDepth", value: "" },
        { label: "周期", type: "period", value: "" },
        { label: "水深", type: "waterDepth", value: "" },
        { label: "钻井作业", type: "drillingOperation", value: "" },
        { label: "补心海拔", type: "kb", value: "" },
        { label: "拖航压载(天)", type: "towingBallast", value: "" },
        { label: "取心(天)", type: "coring", value: "" },
        { label: "船舶油料", type: "shippingOill", value: "" },
        { label: "固井(层)", type: "wellCementation", value: "" },
        { label: "钻井船", type: "drillingRig", value: "" },
      ],
      DefaultRevolution: "",
      DefaultRate: "",
      DefaultWellDepth: "",
      tabClickIndex: "",
      tabClickLabel: "",
      ParamData: [],
      ParamWellData: [],
      CustomizeData: false,
      SecondCustomizeData: false,
      SpecialRowsCustomizeData: false,
      SpecialRowsCustomizeName: "",
      HtmlData: "",
    };
  },
  methods: {
    getTableData() {
      //   console.log(this.tableData);
      // var data = [];
      // var key = [
      //   "budgetItemCode",
      //   "parentBudgetItem",
      //   "budgetItemName",
      //   "totalEquivalentRmb",
      //   "totalRmb",
      //   "totalDollar",
      //   "unitPriceRmb",
      //   "unitPriceDollar",
      //   "amount",
      //   "period",
      //   "rate",
      //   "unit",
      //   "remark",
      // ];
      // var children;
      // $("#BudgetTable tbody")
      //   .find("tr")
      //   .each(function (trindex, tritem) {
      //     var arr = new Object();
      //     $(this)
      //       .find("td")
      //       .each(function (tdindex, tditem) {
      //         if (tditem.innerText == "") {
      //           arr[key[tdindex]] = $(tditem).find("input").val();
      //         } else {
      //           arr[key[tdindex]] = tditem.innerText;
      //         }
      //       });
      //     data.push(arr);
      //   });
      // var arr = new Array();
      // var children;
      // var SecondChildren;
      // var code = null;
      // data.forEach(function (item, index) {
      //   if (item.parentBudgetItem == null) {
      //     children = new Array();
      //     item.children = children;
      //     arr.push(item);
      //   }
      //   if (item.parentBudgetItem < 99) {
      //     SecondChildren = new Array();
      //     item.children = SecondChildren;
      //     children.push(item);
      //   }
      //   if (item.parentBudgetItem > 100) {
      //     SecondChildren.push(item);
      //   }
      // });
      // this.ParamData = arr;
    },
    getWellData() {
      var data = [];
      var key = [
        "wellName",
        "wellDepth",
        "waterDepth",
        "kb",
        "coring",
        "wellCementation",
        "rate",
        "period",
        "drillingOperation",
        "towingBallast",
        "shippingOill",
        "drillingRig",
      ];
      var i = 0;
      var arr = new Object();
      $(".ftable tbody")
        .find("tr")
        .each(function (trindex, tritem) {
          $(this)
            .find("td")
            .each(function (tdindex, tditem) {
              if (tditem.innerText == "") {
                arr[key[i]] = $(tditem).find("input").val();
                i++;
              }
            });
          arr["budgetType"] = "1"; //参数：预算类型，
          arr["state"] = "1"; //参数：进度状态
          data.push(arr);
        });
      this.ParamWellData = data[0];
    },
    getHtmlData() {
      //上表
      var BidgetHtmlData = "<table><thead>";
      var data = "";
      var value;
      $(".ftable")
        .find("tr")
        .each(function (trindex, tritem) {
          data = data + "<tr>";
          $(this)
            .find("td")
            .each(function (tdindex, tditem) {
              if (tditem.innerText == "") {
                value =
                  $(tditem).find("input").val() == undefined
                    ? ""
                    : $(tditem).find("input").val();
                data = data + "<th>" + value + "</th>";
              } else {
                value = tditem.innerText == undefined ? "" : tditem.innerText;
                data = data + "<th>" + tditem.innerText + "</th>";
              }
            });
          data = data + "</tr>";
        });
      //下表
      var thnum;
      $("#BudgetTable thead")
        .find("tr")
        .each(function (trindex, tritem) {
          data = data + "<tr>";
          $(this)
            .find("th")
            .each(function (thindex, thitem) {
              //thead
              var colspan = $(this).attr("colspan");
              var rowspan = $(this).attr("rowspan");
              if (thitem.innerText == "等级") {
                thnum = thindex;
                return;
              }
              if (thindex == 0 && trindex == 0) {
                colspan = colspan - 1;
              }
              value = thitem.innerText == undefined ? "" : thitem.innerText;
              if (colspan == undefined && rowspan == undefined) {
                data = data + '<th style="display:none">' + value + "</th>";
              } else {
                data =
                  data +
                  '<th colspan="' +
                  colspan +
                  '" rowspan="' +
                  rowspan +
                  '">' +
                  value +
                  "</th>";
              }
            });
          data = data + "</tr>";
        });
      data = data + "</thead><tbody>";
      $("#BudgetTable tbody")
        .find("tr")
        .each(function (trindex, tritem) {
          data = data + "<tr>";
          $(this)
            .find("td")
            .each(function (tdindex, tditem) {
              if (thnum == tdindex) {
                return;
              }
              if (tditem.innerText == "") {
                value =
                  $(tditem).find("input").val() == undefined
                    ? ""
                    : $(tditem).find("input").val();
                data = data + "<td>" + value + "</td>";
              } else {
                value = tditem.innerText == undefined ? "" : tditem.innerText;
                data = data + "<td>" + value + "</td>";
              }
            });
          data = data + "</tr>";
        });

      BidgetHtmlData = BidgetHtmlData + data + "</tbody></table>";
      var reg = new RegExp('"', "g"); //g,表示全部替换。
      BidgetHtmlData = BidgetHtmlData.replace(reg, '\'');
      var that = this;

      axios
        .post('/api/DrillingExportExcelController/fileDownload', {
            wellName: that.$store.state.SelectWellName,
            fileName:"初始预算表",
            tableHtml: encodeURIComponent(BidgetHtmlData),
            typeName:"钻井初预算表",
            uniqueMd5:"aa",
          }
        )
        .then((resp) => {

          var dataid=resp.data.data;
          window.open("/api/DrillingFileDataController/fileDownload/"+dataid);
          console.log(resp)

        })
        .catch((err) => {
         //that.msg_dialog("请求失败：" + err.status + "," + err.statusText);
        });
      // this.HtmlData = BidgetHtmlData;
    },
    // 把每一行的索引放进row
    tableRowClassName({ row, rowIndex }) {
      row.index = rowIndex;
    },
    // 添加明细原因 row 当前行 column 当前列
    tabClick(row, column, cell, event) {
      switch (column.label) {
        case "折合人民币":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        case "人民币":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        case "美元":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        case "人民币单价":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        case "美元单价":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        case "数量":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        case "周期":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        case "汇率":
          this.tabClickIndex = row.index;
          this.tabClickLabel = column.label;
          break;
        default:
          return;
      }
    },
    // 失去焦点初始化
    inputBlur(scope) {
      var that = this;
      that.CustomizeData = false;
      that.SecondCustomizeData = true;
      that.SpecialRowsCustomizeData = true;
      if (scope.row.children != undefined) {
        that.SecondCustomizeData = true;
        that.CustomizeData = true;
        if (scope.row.parentBudgetItem < 99) {
          that.SecondCustomizeData = false;
        }
        if (scope.row.parentBudgetItem == null) {
          that.SecondCustomizeData = true;
        }
      }
      if (scope.row.parentBudgetItem != undefined) {
        that.SpecialRowsCustomizeData = false;
      } else {
        that.SpecialRowsCustomizeName = scope.row.budgetItemName;
      }

      if (scope.column.property == "unitPriceRmb") {
        scope.row.unitPriceDollar = parseFloat(
          scope.row.unitPriceRmb / scope.row.rate
        ).toFixed(2);
      }
      if (scope.column.property == "unitPriceDollar") {
        scope.row.unitPriceRmb = scope.row.unitPriceDollar * scope.row.rate;
      }
      if (scope.column.property == "rate") {
        scope.row.unitPriceDollar = parseFloat(
          scope.row.unitPriceRmb / scope.row.rate
        ).toFixed(2);
        this.SetWellBudgetRate(scope.row.children, scope.row.rate);
      }

      if (scope.column.property == "period") {
        this.SetWellBudgetPeriod(scope.row.children, scope.row.period);
      }
      this.tabClickIndex = null;
      this.tabClickLabel = "";
    },
    SetWellBudgetPeriod(data, value, str) {
      var that = this;
      data.forEach(function (item, index) {
        if (item.children != undefined) {
          that.SetWellBudgetPeriod(item.children, value,str);
        }
         if (str == 'first') {
          if (Number(item.period) == 0 ) {
             item.period = value;
             return;
          }
          return;
        }
         item.period = value;

      });
    },
    SetWellBudgetRate(data, value, str) {
      var that = this;
      data.forEach(function (item, index) {
        if (item.children != undefined) {
          that.SetWellBudgetRate(item.children, value,str);
        }
        if (str == 'first') {
          if (Number(item.rate) == 0 ) {
             item.rate = value;
             return;
          }
          return;
        }
         item.rate = value;
      });
    },

    transRevolutionRate(val) {
      var that = this;
      if (val == "汇率") {
        that.DefaultRate = event.target.value;
        that.tableData.forEach(function (item, index) {
          item.rate = event.target.value;
          if (item.children != undefined) {
            that.SetWellBudgetRate(item.children, event.target.value);
          }
        });
      } else {
        that.DefaultRevolution = event.target.value;
        that.tableData.forEach(function (item, index) {
          item.period = event.target.value;
          if (item.children != undefined) {
            that.SetWellBudgetPeriod(item.children, event.target.value);
          }
        });
      }
    },
    FwellBudgetData() {
      var that = this;
      var rate = that.DefaultRate;
      var revolution = that.DefaultRevolution;
      that.tableData = that.$store.state.wellBudgetData;
      that.tableData.forEach(function (item, index) {
        if (item.period < 0 || item.period == null) {
          item.period = revolution;
        }
        if (item.rate < 0 || item.rate == null) {
          item.rate = rate;
        }

        if (item.children != undefined) {
          that.SetWellBudgetPeriod(item.children, revolution, "first");
          that.SetWellBudgetRate(item.children, rate, "first");
        }
      });
    },
    //判断是否需要右侧组件
    RightDialog(val) {
      var that = this;
      if (val.budgetItemName == "钻井平台") {
        that.$store.state.ShowRightDialogData = val;
      } else {
        that.$store.state.ShowRightDialogData = false;
      }
      // if (val.rightDialog) {
      //   that.$store.state.ShowRightDialogData = val.ShowRightDialogData;
      // } else {
      //   that.$store.state.ShowRightDialogData = false;
      // }
    },
    SubmitBudgetData() {
      var that = this;
      that.$refs.BudgetTable.setCurrentRow();
      that.$emit("onSubmitBudTable", "已完成");
    },
  },
};
</script>


<style>
.el-dialog__body {
  padding: 0 20px 10px 20px;
}

#BudgetTable,
#BudgetTable input {
  font-size: 12px;
}

#BudgetTable .el-table__body-wrapper {
  overflow: hidden;
}

#BudgetTable td:last-child {
  display: none;
}

#BudgetTable tr:first-child th:nth-of-type(4) {
  display: none;
}
</style>
