<template>
  <!-- 工具栏 -->
  <div class="initialBudgetTable">
    <div class="ToolBal" style="width: 100%">
      <el-button @click="getConsultWell">参照井</el-button>
      <el-button @click="openAppendixDialog">附件管理</el-button>
      <el-button @click="SaveWellData">保存</el-button>
      <el-button @click="PreserveSaveData">导出</el-button>
      <el-button @click="SubmitBudgetData">提交</el-button>
    </div>
    <!-- 工具栏  end -->
    <!-- 表格 -->
    <div>
      <el-tabs v-model="InitialactiveName" type="card" @tab-click="handleClick">
        <el-tab-pane label="初始预算表" name="初始预算表">
          <initial-budget-table-com :CanEditData="CanEditData" ref="initialBudgut"></initial-budget-table-com>
        </el-tab-pane>
        <el-tab-pane label="钻井进度表" name="钻井进度表">
          <well-progress-table-com ref="wellProgress"></well-progress-table-com>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- 表格  end -->
    <!-- 参照井 -->
    <div>
      <el-dialog
        title="参照井"
        :visible.sync="ConsultWellDialog"
        width="20%"
        :before-close="handleClose"
      >
        <el-table
          ref="multipleTable2"
          :data="ConsultWellData"
          tooltip-effect="dark"
          style="width: 100%"
          highlight-current-row
          @current-change="ConsultWellSelection"
        >
          <el-table-column label="参照井井名" prop="ConsultWellName" align="center"></el-table-column>
        </el-table>
        <el-input
          v-model="SelectConsultWellName"
          placeholder
          @input="$refs.multipleTable2.setCurrentRow(row)"
        ></el-input>
        <span slot="footer" class="dialog-footer">
          <el-button @click="ConsultDefine">确 定</el-button>
        </span>
      </el-dialog>
    </div>
    <!-- 参照井  end -->
    <!-- 附件管理 -->
    <div>
      <el-dialog title="附件管理" :visible.sync="AppendixDialog" width="50%">
        <el-table
          ref="multipleTable"
          :data="AppendixData"

          tooltip-effect="dark"
          style="width: 100%;height:500px; overflow-y: auto;  overflow-x: hidden;"
        >
          <el-table-column label="分类" prop="AppendixClassify" align="center"></el-table-column>
          <el-table-column label="文件名" prop="AppendixFileName"  align="center"></el-table-column>
          <el-table-column label="文件类型" prop="AppendixType" align="center"></el-table-column>
          <el-table-column label="操作" prop="AppendixHandle" align="center" width="200">
            <template slot-scope="scope">
              <el-link target="_blank" @click="preViewFile(scope.row)">预览</el-link>
              <el-link target="_blank" @click="deleteFile(scope.row)">删除</el-link>
              <el-link target="_blank" @click="downloadFile(scope.row)">下载</el-link>
              <el-upload
                class="upload-demo"
                action="/api/DrillingFileDataController/fileUpload"
                :before-upload="beforeAvatarUpload"
                :data="{typeName:scope.row.AppendixType, wellName:$store.state.SelectWellName}"
                :limit="1"
                :on-success="uploadSuccess"
                :show-file-list="false"
                name="multipartFile"
                style="float:left;margin-right:10px"
              >
                <el-link target="_blank">导入文件</el-link>
              </el-upload>
            </template>
          </el-table-column>
           <el-table-column label="序号" prop="AppendixId" align="center" width="0"></el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer"></span>
      </el-dialog>
    </div>
    <!-- 附件管理   end -->
  </div>
</template>
<script>
var EditDiv = {
  template: `<div class="edit-div"
         v-html="value"
         :contenteditable="canEdit"
         :computedmoney="comMoney"
         v-on:focus="isLocked = true"
         v-on:blur="isLocked = false"
         v-on:input="changeText"
         >
    </div>`,
  props: {
    value: {
      type: [String, Number],
      default: "",
    },
    canEdit: {
      type: Boolean,
      default: true,
    },
    comMoney: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      isLocked: false,
    };
  },
  methods: {
    changeText() {
      this.$emit("input", this.$el.innerHTML);
    },
  },
};

import axios from "axios";
var FileSaver = require("file-saver");
import XLSX from "xlsx";
import InitialBudgetTableCom from "./InitialBudgetTableCom.vue";
import WellProgressTableCom from "./WellProgressTableCom.vue";

export default {
  name: "SumInitialBudgetTable",
  props: ["ExcelData", "CanEditData"],
  created() {},
  mounted() {},
  components: {
    EditDiv,
    InitialBudgetTableCom,
    WellProgressTableCom,
  },
  watch: {},
  computed: {},
  //'','通过','审批意见','提及','通过','通过',''
  data() {
    return {
      AppendixIdshow:false,
      uploadVal: { typeName: "总表", wellName: "" },
      SelectConsultWellName: "",
      InitialactiveName: "初始预算表",
      ratermb: "",
      AppendixData: [{ AppendixId: "" }],
      ValueType: true,
      AppendixDialog: false,
      ConsultWellDialog: false,
      selectValue: "11",
      SelectTestPicId: "",
      InputDisable: false,
      transData: [],
      tableData: [],
      ConsultWellSelectData: [],
      ConsultWellData: [
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
      ],
    };
  },
  methods: {
    PreserveSaveData() {
      var that = this;
      that.$refs.initialBudgut.getHtmlData();
      that.$refs.wellProgress.getHtmlData();
      that.$emit("FooterMethod");
    },
    SaveWellData() {
      var that = this;
      that.$refs.wellProgress.getTableData();
    //  that.$refs.initialBudgut.getTableData();
      that.$refs.initialBudgut.getWellData();

      var data = {
        wellName: that.$store.state.SelectWellName,
        drillingBudget: that.$refs.initialBudgut.ParamWellData, //初始预算表上半部分
        drillingBudgetItemsVos: that.$refs.initialBudgut.tableData, //初始预算表下半部分
        drillingPlans: that.$refs.wellProgress.ParamData, //钻井进度表
      };
      axios
        .post(
          "/api/DrillingDetailInfoController/updateDrillingDetailInfo",
          data
        )
        .then((resp) => {
          if (resp.data.success) {
            that.msg_dialog("保存成功！");
          } else {
            this.$message.error(resp.data.message); //数据保存失败
          }
        })
        .catch((err) => {
          this.$message.error("请求失败：" + err);
        });
    },
    handleClose() {
      this.ConsultWellDialog = false;
    },
    handleClick(tab, event) {},
    RightDialog(val) {
      var that = this;
      that.$emit("onRightDialog", val);
    },
    ConsultWellSelection(val) {
      this.ConsultWellSelectData = val;
      this.SelectConsultWellName = val.ConsultWellName;
    },
    ConsultDefine() {
      var that = this;
      var NConsultData;
      if (that.ConsultWellSelectData != null) {
        NConsultData = that.ConsultWellSelectData;
      } else {
        NConsultData = that.SelectConsultWellName;
      }
      that.ConsultWellDialog = false;
    },
    SubmitBudgetData() {
      var that = this;

      axios
        .post("/api/DrillingDetailInfoController/submit/"+that.$store.state.SelectWellName+"/"+that.$store.state.budgetType)
        .then(
          (response) => {

            if (response.data.success) {
              that.msg_dialog("提交成功");
               that.$emit("onSubmitBudTable", "已完成");
            } else {
              that.msg_dialog(response.data.message);
            }
          },
          (response) => {
            that.msg_dialog(response.error);
          }
        );
    },
    getConsultWell() {
      var that = this;
      axios
        .get("#", {
          params: {
            wellid: that.SelectTestPicId,
          },
        })
        .then(
          (response) => {
            if (true) {
              //  that.ConsultWellData = response.data;
              that.ConsultWellDialog = true;
            } else {
              that.msg_dialog("查询失败");
            }
          },
          (response) => {
            that.msg_dialog(response.error);
          }
        );
    },
    openAppendixDialog() {
      var that = this;
      that.AppendixDialog = true;
      that.AppendixData.length = 0;
      that.AppendixData.push({ AppendixId: "" });
      axios
        .get(
          "/api/DrillingFileDataController/selectAttachmentManagement/" +this.$store.state.SelectWellName+"/" + that.$store.state.budgetType
        )
        .then((resp) => {
          if (resp.data.success) {
            var fileType = "";
            resp.data.list.forEach(function (item, index) {
              if (item.isNeed == 0) {
                fileType = "非必须";
              } else if (item.isNeed == 1) {
                fileType = "必须";
              } else if (item.isNeed == 2) {
                fileType = "其它";
              }
              item.list.forEach(function (obj, n) {
                var temp = {
                  AppendixId: obj.fileId,
                  AppendixFileName: obj.fileName,
                  AppendixClassify: fileType,
                  AppendixType:item.typeName
                };
                that.AppendixData.unshift(temp);
              });
            });
          } else {
            this.$message.error(resp.data.message); //数据读取失败
          }
        })
        .catch((err) => {
          this.$message.error("请求失败：" + err);
        });
    },
    beforeAvatarUpload(file) {
      var that = this;
    },
    uploadSuccess(file) {
      if(!file.success){
          this.msg_dialog(file.message);
      }else{
         this.openAppendixDialog();
      }
    },
    deleteFile(val) {
      var that = this;
     if(val.AppendixId==""){
         return;
     }
      axios
        .post('/api/DrillingFileDataController/fileDelete/'+val.AppendixId)
        .then((res) => {
          if (true) {
            that.msg_dialog("删除成功");
            that.openAppendixDialog();
          } else {
            that.msg_dialog("删除失败");
          }
        })
        .catch((err) => {
          that.msg_dialog(err);
        });
    },
    preViewFile(val){
      var that = this;
        let url = "http://10.4.164.71:8080/DrillingFileDataController/fileDownload/"+val.AppendixId;
        /*1.jpg为文件完整名字，名字不要包含空格*/
        let s = url + "?fullfilename="+val.AppendixFileName;
       window.open('http://10.4.166.132:8012/onlinePreview?url='+encodeURIComponent(s));
    },
    downloadFile(val){
         window.open("http://10.4.164.71:8080/DrillingFileDataController/fileDownload/"+val.AppendixId);
    },
    msg_dialog(msg) {
      this.$alert(msg, "提示", {
        dangerouslyUseHTMLString: true,
      });
    },
  },
};
</script>


<style>
.el-dialog__body {
  padding: 0 20px 10px 20px;
}
.el-table_5_column_63{
  display: none;
}
</style>
