<template>
  <!-- 工具栏 -->
  <div class="WellProgressTableCom">
    <el-table class="ProgressTable" :data="$store.state.DrillingPlanData " style="width: 100%">
      <el-table-column prop="wellName" label="井号" width="180"></el-table-column>
      <el-table-column prop="taskSn" label="任务编码" width="180"></el-table-column>
      <el-table-column prop="taskName" label="任务名称"></el-table-column>
      <el-table-column prop="processId" label="工序编号"></el-table-column>
      <el-table-column prop="designPeriod" label="设计周期"></el-table-column>
      <el-table-column prop="designDepth" label="设计深度"></el-table-column>
      <el-table-column prop="realPeriod" label="实际周期"></el-table-column>
      <el-table-column prop="realDepth" label="实际深度"></el-table-column>
      <el-table-column prop="endDate" label="完成日期"></el-table-column>
      <el-table-column prop="remark" label="备注说明"></el-table-column>
    </el-table>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: "WellProgressTableCom",
  data() {
    return {
      DrillingPlan : [],
      ParamData: [],
      HtmlData:""
    };
  },
  mounted(){

  },
  methods: {
    getTableData() {
      var data = [];
      var key = ["wellName", "taskSn", "taskName","processId","designPeriod","designDepth","realPeriod","realDepth","endDate","remark"];
      $(".ProgressTable tbody")
        .find("tr")
        .each(function (trindex, tritem) {
          var arr = new Object();
          $(this)
            .find("td")
            .each(function (tdindex, tditem) {
              arr[key[tdindex]] = tditem.innerText;
            });
          data.push(arr);
        });
      this.ParamData = data;
    },
    getHtmlData(){
             //下表
      var ProgressHtmlData = "<table><thead>";
     var data = "";
      $(".ProgressTable thead")
        .find("tr")
        .each(function (trindex, tritem) {
          data = data + "<tr>";
          $(this)
            .find("th")
            .each(function (thindex, thitem) {
              //console.log(thitem);
              //thead
              var colspan = $(this).attr("colspan");
              var rowspan = $(this).attr("rowspan");
              if (colspan == undefined && rowspan == undefined) {
                data =
                  data +
                  "<th style='display:none'>" +
                  thitem.innerText +
                  "</th>";
              } else {
                 data +
                  "<th colspan='" +
                  colspan +
                  "' rowspan='" +
                  rowspan +
                  "'>" +
                  thitem.innerText +
                  "</th>";
              }
            });
          data = data + "</tr>";
        });
      data = data + "<tbody>";
      $(".ProgressTable tbody")
        .find("tr")
        .each(function (trindex, tritem) {
          data = data + "<tr>";
          $(this)
            .find("td")
            .each(function (tdindex, tditem) {
              if (tditem.innerText == "") {
                data = data + "<td>" + $(tditem).find("input").val() + "</td>";
              } else {
                data = data + "<td>" + tditem.innerText + "</td>";
              }
            });
          data = data + "</tr>";
        });
      ProgressHtmlData = ProgressHtmlData + data + "</tbody></table>";
        var reg = new RegExp('"','g');//g,表示全部替换。
      ProgressHtmlData = ProgressHtmlData.replace(reg,'\'');
       var that = this;
         axios
        .post("/api/DrillingExportExcelController/fileDownload", {
          wellName: that.$store.state.SelectWellName,
          fileName:"钻井进度表",
          tableHtml: encodeURIComponent(ProgressHtmlData),
          typeName:"钻井计划进度表",
          uniqueMd5:"aa"
        })
        .then((resp) => {
          var dataid=resp.data.data;
          window.open("/api/DrillingFileDataController/fileDownload/"+dataid);
        })
        .catch((err) => {
         // that.msg_dialog("请求失败：" + err.status + "," + err.statusText);
        });

     // this.HtmlData = ProgressHtmlData;
    }
  },
};
</script>


<style>
.el-dialog__body {
  padding: 0 20px 10px 20px;
}
</style>
